Repository soo-kate-yeon/framingui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(explore): update template modal CTA to show trial + price label
  packages/playground-web/components/explore/TemplateModal.tsx
  packages/playground-web/data/i18n/explore.ts
Due: eslint --fix, prettier --write

feat: add GA4 funnel report script
  scripts/ga4-funnel.mjs
Due: none

feat: add 7-day new/returning user trend to daily digest
  scripts/ga4-daily-digest.mjs
Due: none

release(mcp-server): v0.6.28
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
Due: prettier --write

feat: landing page redesign with live theme recipe cards
  packages/playground-web/__tests__/data/pricing-content.test.ts
  packages/playground-web/app/explore/bold-line/page.tsx
  packages/playground-web/app/explore/classic-magazine/page.tsx
  packages/playground-web/app/explore/dark-boldness/page.tsx
  packages/playground-web/app/explore/editorial-tech/page.tsx
  packages/playground-web/app/explore/minimal-workspace/page.tsx
  packages/playground-web/app/explore/neutral-workspace/page.tsx
  packages/playground-web/app/explore/pebble/page.tsx
  packages/playground-web/app/explore/square-minimalism/page.tsx
  packages/playground-web/components/landing/DemoSimulation.tsx
  packages/playground-web/components/landing/FAQSection.tsx
  packages/playground-web/components/landing/HeroSection.tsx
  packages/playground-web/components/landing/HowItWorksSection.tsx
  packages/playground-web/components/landing/InteractivePreview.tsx
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/components/landing/PromptTextbox.tsx
  packages/playground-web/components/landing/TemplateCarousel.tsx
  packages/playground-web/components/landing/ThemeRecipeCard.tsx
  packages/playground-web/components/landing/UseCasesSection.tsx
  packages/playground-web/data/i18n/landing.ts
  packages/playground-web/data/i18n/pricing.ts
  packages/playground-web/lib/analytics.ts
  packages/playground-web/lib/theme-thumbnail-resolver.ts
Due: eslint --fix, prettier --write

fix: use authoritative themeToCSS(), fix scroll isolation and responsive
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/components/landing/TemplateCarousel.tsx
  packages/playground-web/components/landing/ThemeRecipeCard.tsx
  packages/playground-web/components/landing/UseCasesSection.tsx
  packages/playground-web/lib/theme-thumbnail-resolver.ts
  packages/playground-web/styles/globals.css
Due: eslint --fix, prettier --write

fix: mobile responsive for all use case pages + scroll containment
  packages/playground-web/components/explore/classic-magazine/ClassicMagazineArticlePage.tsx
  packages/playground-web/components/explore/dark-boldness/DarkBoldnessTradingPage.tsx
  packages/playground-web/components/explore/pebble/PebbleSocialFeedPage.tsx
  packages/playground-web/components/explore/workspace/KanbanBoardView.tsx
  packages/playground-web/components/landing/TemplateCarousel.tsx
  packages/playground-web/styles/globals.css
Due: eslint --fix, prettier --write

fix: iOS Safari horizontal scroll with touch-action: pan-y on body
  packages/playground-web/components/landing/TemplateCarousel.tsx
  packages/playground-web/styles/globals.css
Due: eslint --fix, prettier --write

feat: bold-line fintech remittance page + use case preset
  packages/playground-web/app/explore/bold-line/fintech/page.tsx
  packages/playground-web/components/explore/bold-line/BoldLineFintechPage.tsx
  packages/playground-web/components/landing/PromptTextbox.tsx
Due: eslint --fix, prettier --write

fix: add bold-line to demo page slugs so it renders without sidebar/footer
  packages/playground-web/app/explore/layout.tsx
Due: eslint --fix, prettier --write

content: 블로그 5개 추가 (Cursor/Claude Code/Figma/Solo Founders)
  packages/playground-web/content/blog/ko/v0-design-customization.mdx
Due: none

content: 블로그 5개 + Docs 3개 추가 (영문/한글)
  packages/playground-web/content/blog/en/ai-agent-ui-patterns.mdx
  packages/playground-web/content/blog/en/claude-code-framingui-setup-guide.mdx
  packages/playground-web/content/blog/en/figma-to-code-ai-workflow.mdx
  packages/playground-web/content/blog/en/mcp-design-system-server.mdx
  packages/playground-web/content/blog/en/why-vibe-coding-needs-design-systems.mdx
  packages/playground-web/content/blog/ko/ai-agent-ui-patterns.mdx
  packages/playground-web/content/blog/ko/claude-code-framingui-setup-guide.mdx
  packages/playground-web/content/blog/ko/figma-to-code-ai-workflow.mdx
  packages/playground-web/content/blog/ko/mcp-design-system-server.mdx
  packages/playground-web/content/blog/ko/why-vibe-coding-needs-design-systems.mdx
  packages/playground-web/content/docs/guides/en/component-api-reference.mdx
  packages/playground-web/content/docs/guides/en/design-token-reference.mdx
  packages/playground-web/content/docs/guides/en/mcp-server-configuration.mdx
  packages/playground-web/content/docs/guides/ko/component-api-reference.mdx
  packages/playground-web/content/docs/guides/ko/design-token-reference.mdx
  packages/playground-web/content/docs/guides/ko/mcp-server-configuration.mdx
Due: none

content: 블로그 5개 추가 (AI editor workflow, component patterns, token automation)
  packages/playground-web/content/blog/en/ai-code-editor-design-workflow.mdx
  packages/playground-web/content/blog/en/component-library-ai-integration-patterns.mdx
  packages/playground-web/content/blog/en/design-token-automation-ai-agents.mdx
  packages/playground-web/content/blog/en/multi-file-ui-consistency-claude-cursor.mdx
  packages/playground-web/content/blog/en/shadcn-theming-automation-ai.mdx
  packages/playground-web/content/blog/ko/ai-code-editor-design-workflow.mdx
  packages/playground-web/content/blog/ko/component-library-ai-integration-patterns.mdx
  packages/playground-web/content/blog/ko/design-token-automation-ai-agents.mdx
  packages/playground-web/content/blog/ko/multi-file-ui-consistency-claude-cursor.mdx
  packages/playground-web/content/blog/ko/shadcn-theming-automation-ai.mdx
Due: none

content: 블로그 5개 추가 (description 160자 수정)
  packages/playground-web/content/blog/en/ai-frontend-development-workflow-optimization.mdx
  packages/playground-web/content/blog/en/mcp-design-tokens-management.mdx
  packages/playground-web/content/blog/en/react-design-tokens-setup-guide.mdx
  packages/playground-web/content/blog/en/ui-consistency-ai-coding-techniques.mdx
  packages/playground-web/content/blog/en/windsurf-ai-design-system-setup.mdx
  packages/playground-web/content/blog/ko/ai-frontend-development-workflow-optimization.mdx
  packages/playground-web/content/blog/ko/mcp-design-tokens-management.mdx
  packages/playground-web/content/blog/ko/react-design-tokens-setup-guide.mdx
  packages/playground-web/content/blog/ko/ui-consistency-ai-coding-techniques.mdx
  packages/playground-web/content/blog/ko/windsurf-ai-design-system-setup.mdx
Due: none

Add 5 SEO/AAO blog posts: Tailwind AI tokens, Next.js automation, TypeScript setup, AI consistency, solo dev design system
  packages/playground-web/content/blog/en/ai-code-generation-ui-consistency-guide.mdx
  packages/playground-web/content/blog/en/building-design-system-without-designer.mdx
  packages/playground-web/content/blog/en/nextjs-design-system-automation-guide.mdx
  packages/playground-web/content/blog/en/tailwind-design-tokens-ai-integration.mdx
  packages/playground-web/content/blog/en/typescript-design-tokens-complete-setup.mdx
  packages/playground-web/content/blog/ko/ai-code-generation-ui-consistency-guide.mdx
  packages/playground-web/content/blog/ko/building-design-system-without-designer.mdx
  packages/playground-web/content/blog/ko/nextjs-design-system-automation-guide.mdx
  packages/playground-web/content/blog/ko/tailwind-design-tokens-ai-integration.mdx
  packages/playground-web/content/blog/ko/typescript-design-tokens-complete-setup.mdx
Due: none

content: add 5 SEO/AAO blog posts
  packages/playground-web/content/blog/en/ai-pair-programming-ui-design.mdx
  packages/playground-web/content/blog/en/component-library-theming-ai.mdx
  packages/playground-web/content/blog/en/design-system-maintenance-automation.mdx
  packages/playground-web/content/blog/en/design-token-workflow-automation.mdx
  packages/playground-web/content/blog/en/vscode-ai-design-tokens.mdx
  packages/playground-web/content/blog/ko/ai-pair-programming-ui-design.mdx
  packages/playground-web/content/blog/ko/component-library-theming-ai.mdx
  packages/playground-web/content/blog/ko/design-system-maintenance-automation.mdx
  packages/playground-web/content/blog/ko/design-token-workflow-automation.mdx
  packages/playground-web/content/blog/ko/vscode-ai-design-tokens.mdx
Due: none

Add 5 SEO/AAO blog posts
  packages/playground-web/content/blog/en/ai-generated-components-maintainability-guide.mdx
  packages/playground-web/content/blog/en/ai-landing-page-builder-structured-design.mdx
  packages/playground-web/content/blog/en/cursor-rules-design-system-integration.mdx
  packages/playground-web/content/blog/en/design-tokens-vs-css-variables-practical-guide.mdx
  packages/playground-web/content/blog/en/shadcn-alternative-for-ai-development.mdx
  packages/playground-web/content/blog/ko/ai-generated-components-maintainability-guide.mdx
  packages/playground-web/content/blog/ko/ai-landing-page-builder-structured-design.mdx
  packages/playground-web/content/blog/ko/cursor-rules-design-system-integration.mdx
  packages/playground-web/content/blog/ko/design-tokens-vs-css-variables-practical-guide.mdx
  packages/playground-web/content/blog/ko/shadcn-alternative-for-ai-development.mdx
  scripts/cold-outreach/README.md
  scripts/cold-outreach/data/emails/all-emails-v2.csv
  scripts/cold-outreach/data/emails/all-emails.csv
  scripts/cold-outreach/data/emails/chakra-ui-chakra-ui-emails.csv
  scripts/cold-outreach/data/emails/chakra-ui-chakra-ui-emails.json
  scripts/cold-outreach/data/emails/radix-ui-primitives-emails.csv
  scripts/cold-outreach/data/emails/radix-ui-primitives-emails.json
  scripts/cold-outreach/data/emails/shadcn-ui-emails.csv
  scripts/cold-outreach/data/emails/shadcn-ui-emails.json
  scripts/cold-outreach/data/emails/t3-oss-create-t3-app-emails.csv
  scripts/cold-outreach/data/emails/t3-oss-create-t3-app-emails.json
  scripts/cold-outreach/data/sent-log.csv
  scripts/cold-outreach/data/stargazers/chakra-ui-chakra-ui.json
  scripts/cold-outreach/data/stargazers/radix-ui-primitives.json
  scripts/cold-outreach/data/stargazers/shadcn-ui.json
  scripts/cold-outreach/data/stargazers/t3-oss-create-t3-app.json
  scripts/cold-outreach/extract-emails.mjs
  scripts/cold-outreach/extract-stargazers.mjs
  scripts/cold-outreach/run-all-emails.sh
  scripts/cold-outreach/send-emails.mjs
  scripts/cold-outreach/templates/hooks-by-repo.md
  scripts/cold-outreach/templates/intro-v1.md
  scripts/cold-outreach/templates/intro-v2.md
Due: prettier --write

feat(blog): add 5 SEO/AAO-optimized blog posts
  packages/playground-web/content/blog/en/ai-code-assistant-design-workflow-integration.mdx
  packages/playground-web/content/blog/en/design-system-documentation-ai-optimization.mdx
  packages/playground-web/content/blog/en/frontend-design-automation-practical-guide.mdx
  packages/playground-web/content/blog/en/react-component-styling-ai-workflows.mdx
  packages/playground-web/content/blog/en/theme-token-generator-practical-guide.mdx
  packages/playground-web/content/blog/ko/ai-code-assistant-design-workflow-integration.mdx
  packages/playground-web/content/blog/ko/design-system-documentation-ai-optimization.mdx
  packages/playground-web/content/blog/ko/frontend-design-automation-practical-guide.mdx
  packages/playground-web/content/blog/ko/react-component-styling-ai-workflows.mdx
  packages/playground-web/content/blog/ko/theme-token-generator-practical-guide.mdx
Due: none

Add 5 new FramingUI blog posts
  packages/playground-web/content/blog/en/building-accessible-forms-with-design-tokens.mdx
  packages/playground-web/content/blog/en/component-api-design-consistent-patterns.mdx
  packages/playground-web/content/blog/en/dark-mode-implementation-design-tokens.mdx
  packages/playground-web/content/blog/en/design-token-migration-legacy-codebase.mdx
  packages/playground-web/content/blog/en/responsive-layout-patterns-design-tokens.mdx
  packages/playground-web/content/blog/ko/building-accessible-forms-with-design-tokens.mdx
  packages/playground-web/content/blog/ko/component-api-design-consistent-patterns.mdx
  packages/playground-web/content/blog/ko/dark-mode-implementation-design-tokens.mdx
  packages/playground-web/content/blog/ko/design-token-migration-legacy-codebase.mdx
  packages/playground-web/content/blog/ko/responsive-layout-patterns-design-tokens.mdx
Due: none

feat(blog): add 5 SEO/AAO blog posts
  packages/playground-web/content/blog/en/ai-ui-component-composition.mdx
  packages/playground-web/content/blog/en/css-custom-properties-design-tokens.mdx
  packages/playground-web/content/blog/en/design-system-versioning-strategy.mdx
  packages/playground-web/content/blog/en/design-token-naming-conventions.mdx
  packages/playground-web/content/blog/en/multi-platform-design-tokens.mdx
  packages/playground-web/content/blog/ko/ai-ui-component-composition.mdx
  packages/playground-web/content/blog/ko/css-custom-properties-design-tokens.mdx
  packages/playground-web/content/blog/ko/design-system-versioning-strategy.mdx
  packages/playground-web/content/blog/ko/design-token-naming-conventions.mdx
  packages/playground-web/content/blog/ko/multi-platform-design-tokens.mdx
Due: none

feat(blog): add 5 CSS-in-JS design token integration guides
  packages/playground-web/content/blog/en/emotion-js-design-system.mdx
  packages/playground-web/content/blog/en/panda-css-design-tokens.mdx
  packages/playground-web/content/blog/en/styled-components-design-tokens.mdx
  packages/playground-web/content/blog/en/tailwind-css-config-design-tokens.mdx
  packages/playground-web/content/blog/en/vanilla-extract-design-tokens.mdx
  packages/playground-web/content/blog/ko/emotion-js-design-system.mdx
  packages/playground-web/content/blog/ko/panda-css-design-tokens.mdx
  packages/playground-web/content/blog/ko/styled-components-design-tokens.mdx
  packages/playground-web/content/blog/ko/tailwind-css-config-design-tokens.mdx
  packages/playground-web/content/blog/ko/vanilla-extract-design-tokens.mdx
Due: none

feat(blog): add 5 SEO/AAO blog posts for FramingUI
  packages/playground-web/content/blog/en/ab-testing-ui-design-tokens.mdx
  packages/playground-web/content/blog/en/component-variants-system-architecture.mdx
  packages/playground-web/content/blog/en/debugging-design-systems-ai-code-editors.mdx
  packages/playground-web/content/blog/en/sharing-design-tokens-monorepo.mdx
  packages/playground-web/content/blog/en/storybook-design-tokens-integration-guide.mdx
  packages/playground-web/content/blog/ko/ab-testing-ui-design-tokens.mdx
  packages/playground-web/content/blog/ko/component-variants-system-architecture.mdx
  packages/playground-web/content/blog/ko/debugging-design-systems-ai-code-editors.mdx
  packages/playground-web/content/blog/ko/sharing-design-tokens-monorepo.mdx
  packages/playground-web/content/blog/ko/storybook-design-tokens-integration-guide.mdx
Due: none

feat(theme): add podcast-ambient theme profile
  .moai/themes/generated/podcast-ambient.json
  packages/playground-web/lib/theme-thumbnail-resolver.ts
  packages/playground-web/lib/themes/podcast-ambient.json
Due: eslint --fix, prettier --write

chore(core): release v0.4.10
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/generated/bundled-themes.ts
Due: eslint --fix, prettier --write

fix(mcp-auth): avoid full api key scan on verify endpoints
  packages/playground-web/__tests__/api/mcp-usage-events.test.ts
  packages/playground-web/__tests__/api/mcp-verify-canonicalization.test.ts
  packages/playground-web/app/api/mcp/usage-events/route.ts
  packages/playground-web/app/api/mcp/verify/route.ts
  packages/playground-web/lib/mcp/auth-helper.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx,js,jsx}) or (any of: packages/*/src/**/*.{ts,tsx,js,jsx})) or (any of: packages/*/__tests__/**/*.{ts,tsx,js,jsx})
  prettier --write: (((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: packages/*/src/**/*.{ts,tsx,js,jsx})) or (any of: packages/*/__tests__/**/*.{ts,tsx,js,jsx})
