Repository soo-kate-yeon/framingui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(playground-web): unify language switcher and complete JA localization
  .moai/themes/generated/editorial-tech.json
  .moai/themes/generated/neutral-workspace.json
  .moai/themes/generated/pebble.json
  packages/playground-web/components/shared/GlobalLanguageSwitcher.tsx
  packages/playground-web/data/i18n/blog.ts
  packages/playground-web/data/i18n/explore.ts
  packages/playground-web/data/i18n/landing.ts
  packages/playground-web/data/i18n/legal.ts
  packages/playground-web/data/i18n/pricing.ts
Due: eslint --fix, prettier --write

feat(playground-web): load JA blog/legal content in runtime
  packages/playground-web/app/blog/[slug]/page.tsx
  packages/playground-web/app/blog/page.tsx
  packages/playground-web/app/blog/tag/[tag]/page.tsx
  packages/playground-web/app/legal/[slug]/page.tsx
  packages/playground-web/components/blog/BlogCard.tsx
  packages/playground-web/components/blog/BlogHero.tsx
  packages/playground-web/components/blog/BlogListPage.tsx
  packages/playground-web/components/blog/BlogPostPage.tsx
  packages/playground-web/components/legal/LegalPageLayout.tsx
  packages/playground-web/lib/blog/index.ts
  packages/playground-web/lib/legal.ts
Due: eslint --fix, prettier --write

style: fix GlobalLanguageSwitcher layout and font alignment with robust overrides
  packages/playground-web/components/shared/GlobalLanguageSwitcher.tsx
Due: eslint --fix, prettier --write

feat(playground-web): complete JA explore template i18n fallback flow
  packages/playground-web/app/explore/actions.ts
  packages/playground-web/app/explore/template/[id]/page.tsx
  packages/playground-web/components/explore/TemplateCard.tsx
  packages/playground-web/components/explore/TemplateGallery.tsx
  packages/playground-web/components/explore/TemplateModal.tsx
  packages/playground-web/contexts/ExploreLanguageContext.tsx
  packages/playground-web/data/templates.ts
Due: eslint --fix, prettier --write

fix(playground-web): stabilize heading ids for ja/ko and prevent duplicate toc keys
  packages/playground-web/components/blog/BlogPostPage.tsx
  packages/playground-web/components/blog/TagList.tsx
  packages/playground-web/components/legal/LegalPageLayout.tsx
  packages/playground-web/lib/blog/index.ts
  packages/playground-web/lib/heading.ts
  packages/playground-web/lib/legal.ts
Due: eslint --fix, prettier --write

feat: implement universal radius token system and add square-minimalism magazine demo (final fixed)
  .moai/themes/generated/bold-line.json
  .moai/themes/generated/classic-magazine.json
  .moai/themes/generated/dark-boldness.json
  .moai/themes/generated/editorial-tech.json
  .moai/themes/generated/minimal-workspace.json
  .moai/themes/generated/neutral-workspace.json
  .moai/themes/generated/pebble.json
  .moai/themes/generated/square-minimalism.json
  packages/playground-web/app/explore/square-minimalism/magazine/page.tsx
  packages/playground-web/components/shared/GlobalLanguageSwitcher.tsx
  packages/playground-web/data/template-docs.ts
  packages/ui/src/components/select.tsx
  packages/ui/src/lib/tokens.ts
Due: eslint --fix, prettier --write

fix: allow images.unsplash.com in next.config.ts for magazine demo (retry)
  packages/playground-web/components/classic-magazine/ArticleContent.tsx
  packages/playground-web/components/classic-magazine/ReadingProgress.tsx
  packages/playground-web/contexts/GlobalLanguageContext.tsx
  packages/playground-web/next.config.ts
Due: eslint --fix, prettier --write

fix(playground-web): dedupe empty/duplicate blog tags to avoid key collisions
  packages/playground-web/components/blog/TagList.tsx
Due: eslint --fix, prettier --write

style: refine magazine demo design recipes and update assets
  packages/playground-web/app/explore/square-minimalism/magazine/page.tsx
Due: eslint --fix, prettier --write

style: final recipe alignment and semantic token cleanup for magazine demo
  packages/playground-web/app/explore/square-minimalism/magazine/page.tsx
Due: eslint --fix, prettier --write

feat: add magazine link to square-minimalism explore sidebar
  packages/playground-web/app/explore/square-minimalism/page.tsx
Due: eslint --fix, prettier --write

feat: implement high-fidelity Kanban board demo for Minimal and Neutral workspace themes
  packages/playground-web/app/explore/minimal-workspace/kanban/page.tsx
  packages/playground-web/app/explore/minimal-workspace/page.tsx
  packages/playground-web/app/explore/neutral-workspace/kanban/page.tsx
  packages/playground-web/app/explore/neutral-workspace/page.tsx
  packages/playground-web/components/explore/workspace/KanbanBoardView.tsx
  packages/playground-web/data/template-docs.ts
Due: eslint --fix, prettier --write

chore(playground-web): unify framingui brand labels on auth, mcp, and pricing nav
  packages/playground-web/app/auth/login/page.tsx
  packages/playground-web/app/auth/signup/page.tsx
  packages/playground-web/app/mcp/auth/page.tsx
  packages/playground-web/data/i18n/pricing.ts
Due: eslint --fix, prettier --write

fix(playground-web): stabilize oauth redirect and payment CTA flows
  packages/playground-web/app/api/auth/callback/route.ts
  packages/playground-web/app/auth/callback/route.ts
  packages/playground-web/app/auth/login/page.tsx
  packages/playground-web/app/explore/template/[id]/page.tsx
  packages/playground-web/components/explore/SelectionTopBar.tsx
  packages/playground-web/components/explore/TemplateModal.tsx
  packages/playground-web/components/pricing/PricingPage.tsx
  packages/playground-web/contexts/AuthContext.tsx
  packages/playground-web/docs/oauth-paddle-local-troubleshooting.md
  packages/playground-web/hooks/usePaddle.ts
  packages/playground-web/lib/auth/supabase-auth.ts
  packages/playground-web/lib/paddle/config.ts
Due: eslint --fix, prettier --write

fix(playground-web): align PricingPage BetaBanner usage with component props
  packages/playground-web/components/pricing/PricingPage.tsx
Due: eslint --fix, prettier --write

feat: refine BetaBanner UI, integrate i18n, and fix hydration mismatch
  packages/playground-web/app/blog/layout.tsx
  packages/playground-web/app/settings/billing/page.tsx
  packages/playground-web/components/blog/BlogPostPage.tsx
  packages/playground-web/components/explore/ExplorePageClient.tsx
  packages/playground-web/components/explore/ExploreTopBanner.tsx
  packages/playground-web/components/legal/LegalPageLayout.tsx
  packages/playground-web/components/shared/BetaBanner.tsx
  packages/playground-web/content/blog/en/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/en/v0-vs-framingui-comparison.mdx
  packages/playground-web/content/blog/en/why-ai-generated-ui-looks-generic.mdx
  packages/playground-web/content/blog/ja/v0-vs-framingui-comparison.mdx
  packages/playground-web/content/blog/ko/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/ko/why-ai-generated-ui-looks-generic.mdx
  packages/playground-web/data/i18n/betaBanner.ts
  packages/playground-web/styles/globals.css
Due: eslint --fix, prettier --write

chore: bump versions for theme updates release
  packages/core/package.json
  packages/esbuild-plugin/package.json
  packages/mcp-server/package.json
  packages/mcp-server/src/index.ts
  packages/styled/package.json
  packages/tokens/package.json
  packages/ui/package.json
Due: eslint --fix, prettier --write

fix: PostHog 직접 호스트 사용 (reverse proxy 제거)
  packages/playground-web/instrumentation-client.ts
Due: eslint --fix, prettier --write

fix: resolve cloudflare error 1014 and apply UI refinements
  packages/playground-web/components/modals/FreeTrialModal.tsx
  packages/playground-web/components/pricing/PricingPage.tsx
  packages/playground-web/components/shared/BetaBanner.tsx
  packages/playground-web/instrumentation-client.ts
Due: eslint --fix, prettier --write

feat(mcp): improve auth messages with free trial CTA
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/preview-theme.ts
  packages/mcp-server/src/tools/whoami.ts
Due: eslint --fix, prettier --write

fix: PostHog api_host fallback to direct host (not /ingest)
  packages/playground-web/instrumentation-client.ts
Due: eslint --fix, prettier --write

feat: replace PostHog with Google Analytics 4
  packages/playground-web/app/layout.tsx
  packages/playground-web/app/providers.tsx
  packages/playground-web/components/GoogleAnalytics.tsx
  packages/playground-web/lib/analytics.ts
Due: eslint --fix, prettier --write

refactor: remove PostHog, use GA4 for analytics
  packages/playground-web/app/blog/layout.tsx
  packages/playground-web/app/docs/layout.tsx
  packages/playground-web/components/explore/ExplorePageClient.tsx
  packages/playground-web/components/pricing/PricingPage.tsx
  packages/playground-web/components/shared/FreeTrialBanner.tsx
  packages/playground-web/data/i18n/freeTrialBanner.ts
Due: eslint --fix, prettier --write

chore: remove PostHog, prepare for GA4 + Clarity
  .codex/instructions.md
  .mcp.json
  instructions.md
  packages/playground-web/.env.example
  packages/playground-web/app/layout.tsx
  packages/playground-web/components/Clarity.tsx
  packages/playground-web/contexts/PostHogContext.tsx
  packages/playground-web/docs/analytics-funnel-cycle-010.md
  packages/playground-web/instrumentation-client.ts
  packages/playground-web/lib/posthog-server.ts
  packages/playground-web/next.config.ts
  packages/playground-web/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: refactor README and update npm package descriptions
  README.md
  packages/core/README.md
  packages/esbuild-plugin/README.md
  packages/styled/README.md
  packages/tokens/README.md
  packages/ui/README.md
Due: prettier --write

fix(playground-web): harden paddle checkout payload for production 400
  packages/playground-web/hooks/usePaddle.ts
Due: eslint --fix, prettier --write

blog: add Design Tokens for AI Agents guide (en/ko)
  packages/playground-web/content/blog/en/design-tokens-for-ai-agents.mdx
  packages/playground-web/content/blog/ko/design-tokens-for-ai-agents.mdx
Due: none

fix(playground-web): Clarity SDK 마이그레이션, 브랜딩 수정, 성능 최적화
  packages/playground-web/app/explore/feedback/page.tsx
  packages/playground-web/app/layout.tsx
  packages/playground-web/components/Clarity.tsx
  packages/playground-web/components/bookstore/detail/FloatingCTA.tsx
  packages/playground-web/components/classic-magazine/ReadingProgress.tsx
  packages/playground-web/components/explore/classic-magazine/ClassicMagazineArticlePage.tsx
  packages/playground-web/components/explore/editorial-tech/EditorialTechSolutionsPage.tsx
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/data/i18n/explore.ts
  packages/playground-web/data/i18n/freeTrialBanner.ts
  packages/playground-web/package.json
Due: eslint --fix, prettier --write

release(@framingui/mcp-server): v0.5.6
  packages/mcp-server/package.json
Due: prettier --write

content: add MCP for Designers blog post (en/ko)
  packages/playground-web/content/blog/en/mcp-for-designers.mdx
  packages/playground-web/content/blog/ko/mcp-for-designers.mdx
Due: none

blog: Add Figma-to-code design tokens post (en/ko)
  packages/playground-web/content/blog/en/figma-to-code-design-tokens.mdx
  packages/playground-web/content/blog/ko/figma-to-code-design-tokens.mdx
Due: none

feat(mcp-server): SPEC-MCP-007 MCP 서버 데이터 소스 API 전환 (Phase 2) v0.6.0
  packages/mcp-server/package.json
  packages/mcp-server/src/api/data-client.ts
  packages/mcp-server/src/auth/cache.ts
  packages/mcp-server/src/data/examples/screen-examples.ts
  packages/mcp-server/src/data/template-matcher.ts
  packages/mcp-server/src/generators/core-resolver.ts
  packages/mcp-server/src/generators/css-generator.ts
  packages/mcp-server/src/generators/index.ts
  packages/mcp-server/src/tools/export-screen.ts
  packages/mcp-server/src/tools/get-screen-generation-context.ts
  packages/mcp-server/src/tools/list-components.ts
  packages/mcp-server/src/tools/list-screen-templates.ts
  packages/mcp-server/src/tools/list-tokens.ts
  packages/mcp-server/src/tools/preview-component.ts
  packages/mcp-server/src/tools/preview-screen-template.ts
  packages/mcp-server/src/tools/validate-screen-definition.ts
  packages/playground-web/app/api/mcp/components/[id]/route.ts
  packages/playground-web/app/api/mcp/components/route.ts
  packages/playground-web/app/api/mcp/examples/screens/route.ts
  packages/playground-web/app/api/mcp/templates/[id]/route.ts
  packages/playground-web/app/api/mcp/templates/route.ts
  packages/playground-web/app/api/mcp/themes/[id]/css/route.ts
  packages/playground-web/app/api/mcp/tokens/route.ts
Due: eslint --fix, prettier --write

chore(mcp-server): CHANGELOG 추가 및 v0.6.0 릴리즈 준비
  packages/mcp-server/CHANGELOG.md
Due: prettier --write

fix(ci): stabilize workflow preflight and failure intake
  .github/workflows/auto-fix-pr.yml
  .github/workflows/quality-gate.yml
  .github/workflows/security-scan.yml
  pnpm-lock.yaml
Due: prettier --write

fix(mcp-server): restore workspace deps for vercel build
  packages/mcp-server/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): avoid duplicate security scans on PR branches
  .github/workflows/security-scan.yml
Due: prettier --write

docs(mcp-server): SPEC-MCP-007 문서 동기화 및 SPEC 상태 완료 처리
  .moai/specs/SPEC-MCP-007/spec.md
  packages/mcp-server/README.md
Due: prettier --write

chore(mcp-server): 블루프린트 캐시 삭제 및 .gitignore 추가
  packages/mcp-server/.framingui/blueprints/bp-1772331772153-ec37a7/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772153-ec37a7/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772160-d403a5/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772160-d403a5/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772163-1d6195/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772163-1d6195/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772164-1cff05/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772164-1cff05/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772164-4f80b3/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772164-4f80b3/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772166-fe5bfc/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772166-fe5bfc/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772168-5bdf30/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772168-5bdf30/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772170-cbca15/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772170-cbca15/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772171-784fc7/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772171-784fc7/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772173-06230b/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772173-06230b/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772173-4a19d0/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772173-4a19d0/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772174-00e9a6/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772174-00e9a6/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772426-de5ff5/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772426-de5ff5/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772428-f8793d/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772428-f8793d/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772432-0d2c84/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772432-0d2c84/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772433-8a8a29/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772433-8a8a29/metadata.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772433-cf26fd/blueprint.json
  packages/mcp-server/.framingui/blueprints/bp-1772331772433-cf26fd/metadata.json
  packages/mcp-server/.gitignore
Due: prettier --write

release(@framingui/core): v0.4.2
  packages/core/CHANGELOG.md
  packages/core/__tests__/pipeline.test.ts
  packages/core/package.json
  packages/core/scripts/copy-bundled-generated-data.mjs
  packages/core/src/generated-data-dir.ts
  packages/core/src/icon-library.ts
  packages/core/src/theme-v2.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx,js,jsx}) or (any of: packages/*/src/**/*.{ts,tsx,js,jsx})) or (any of: packages/*/__tests__/**/*.{ts,tsx,js,jsx})
  prettier --write: (((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: packages/*/src/**/*.{ts,tsx,js,jsx})) or (any of: packages/*/__tests__/**/*.{ts,tsx,js,jsx})
