Repository soo-kate-yeon/framingui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

content(i18n): improve ko copy quality for landing and CTA
  packages/playground-web/app/explore/template/[id]/page.tsx
  packages/playground-web/data/i18n/landing.ts
Due: eslint --fix, prettier --write

feat: bold-line 테마 추가 및 explore 페이지 live demo 연동
  packages/mcp-server/package.json
  packages/mcp-server/src/auth/theme-access.ts
  packages/playground-web/app/explore/bold-line/layout.tsx
  packages/playground-web/app/explore/bold-line/page.tsx
  packages/playground-web/components/explore/TemplateCard.tsx
  packages/playground-web/components/modals/FreeTrialModal.tsx
  packages/playground-web/data/templates.ts
  packages/playground-web/lib/theme-thumbnail-resolver.ts
Due: eslint --fix, prettier --write

feat: filter internal user traffic + bottom-right free trial modal
  packages/playground-web/contexts/PostHogContext.tsx
Due: eslint --fix, prettier --write

fix: add soo.kate.yeon to internal email patterns
  packages/playground-web/contexts/PostHogContext.tsx
Due: eslint --fix, prettier --write

feat(seo): add UTM tracking to llms.txt links for AI traffic attribution
  packages/playground-web/public/llms.txt
Due: none

fix: replace workspace:* with actual versions in mcp-server deps
  packages/mcp-server/package.json
Due: prettier --write

content: add 5 blog posts (en/ko) for SEO sheep herding
  packages/playground-web/content/blog/en/ai-code-generation-design-tokens.mdx
  packages/playground-web/content/blog/en/design-system-for-indie-hackers.mdx
  packages/playground-web/content/blog/en/how-to-build-consistent-ui-without-designer.mdx
  packages/playground-web/content/blog/en/mcp-design-system-integration.mdx
  packages/playground-web/content/blog/en/shadcn-vs-framingui-which-to-choose.mdx
  packages/playground-web/content/blog/ko/ai-code-generation-design-tokens.mdx
  packages/playground-web/content/blog/ko/design-system-for-indie-hackers.mdx
  packages/playground-web/content/blog/ko/how-to-build-consistent-ui-without-designer.mdx
  packages/playground-web/content/blog/ko/mcp-design-system-integration.mdx
  packages/playground-web/content/blog/ko/shadcn-vs-framingui-which-to-choose.mdx
Due: none

docs: add 5 docs pages (en/ko) for SEO sheep herding
  packages/playground-web/content/docs/en/components/button.mdx
  packages/playground-web/content/docs/en/components/card.mdx
  packages/playground-web/content/docs/en/components/input.mdx
  packages/playground-web/content/docs/en/guides/mcp-setup.mdx
  packages/playground-web/content/docs/en/guides/theming.mdx
  packages/playground-web/content/docs/ko/components/button.mdx
  packages/playground-web/content/docs/ko/components/card.mdx
  packages/playground-web/content/docs/ko/components/input.mdx
  packages/playground-web/content/docs/ko/guides/mcp-setup.mdx
  packages/playground-web/content/docs/ko/guides/theming.mdx
  packages/playground-web/content/docs/ko/installation.mdx
  packages/playground-web/content/docs/ko/quick-start.mdx
Due: none

fix(ci): sync pnpm lockfile specifiers for mcp-server workspace deps
  pnpm-lock.yaml
Due: prettier --write

release(ui): v0.6.1
  CHANGELOG.md
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ci): add publish integrity gate for package releases
  .github/workflows/publish-integrity.yml
  package.json
  packages/styled/package.json
  pnpm-lock.yaml
  scripts/check-publish-integrity.mjs
Due: prettier --write

fix mcp login url normalization and add dev instructions
  instructions.md
  packages/mcp-server/__tests__/utils/api-url.test.ts
  packages/mcp-server/src/auth/verify.ts
  packages/mcp-server/src/cli/credentials.ts
  packages/mcp-server/src/cli/login.ts
  packages/mcp-server/src/utils/api-url.ts
  packages/playground-web/.env.example
Due: eslint --fix, prettier --write

release(mcp-server): v0.5.3
  CHANGELOG.md
  packages/mcp-server/package.json
Due: prettier --write

fix(auth): canonicalize mcp oauth redirect origin
  packages/playground-web/__tests__/lib/auth/redirect-origin.test.ts
  packages/playground-web/app/api/mcp/auth/route.ts
  packages/playground-web/app/api/mcp/cli-callback/route.ts
  packages/playground-web/lib/auth/redirect-origin.ts
Due: eslint --fix, prettier --write

feat(bold-line): nav/sidebar/레이아웃 border 제거 및 spacing 패턴 적용
  packages/playground-web/app/explore/bold-line/page.tsx
  packages/playground-web/components/explore/ComponentGallery.tsx
Due: eslint --fix, prettier --write

feat(bold-line): 템플릿 모달용 스크린샷 추가
  packages/playground-web/public/screenshots/bold-line/components.png
  packages/playground-web/public/screenshots/bold-line/dashboard.png
Due: none

refactor(templates): how to use 단계 간소화 (6단계 → 3단계)
  packages/playground-web/data/templates.ts
Due: eslint --fix, prettier --write

feat: update CTAs to 'Start Free Trial'
  packages/playground-web/components/explore/ExploreTopBanner.tsx
  packages/playground-web/components/shared/BetaBanner.tsx
  packages/playground-web/data/i18n/landing.ts
Due: eslint --fix, prettier --write

feat(trial): add 3-day free trial backend
  packages/playground-web/app/api/licenses/trial/route.ts
  supabase/migrations/20260228210521_add_trial_fields.sql
Due: eslint --fix, prettier --write

feat(explore): 썸네일 CSS 렌더링 → 실제 스크린샷 이미지로 교체
  packages/playground-web/app/explore/actions.ts
Due: eslint --fix, prettier --write

feat(mcp): add trial status to whoami tool
  packages/mcp-server/src/auth/verify.ts
  packages/mcp-server/src/schemas/mcp-schemas.ts
  packages/mcp-server/src/tools/whoami.ts
Due: eslint --fix, prettier --write

fix(ci): stabilize quality gate formatting and token type resolution
  .prettierignore
  packages/mcp-server/src/tools/whoami.ts
  packages/mcp-server/src/utils/tailwind-config-reader.ts
  packages/styled/tsconfig.json
Due: eslint --fix, prettier --write

fix(styled): build with project references in CI
  packages/styled/package.json
  packages/styled/tsconfig.json
Due: prettier --write

fix(mcp-server): build with project references in ci
  packages/mcp-server/package.json
Due: prettier --write

fix(ci): ensure vercel build can find shell in actions
  .github/workflows/deploy-vercel.yml
  .github/workflows/vercel-deploy.yml
Due: prettier --write

fix(deploy): avoid local vercel prebuild in github actions
  .github/workflows/deploy-vercel.yml
  .github/workflows/vercel-deploy.yml
Due: prettier --write

fix(deploy): run vercel CLI from repo root
  .github/workflows/deploy-vercel.yml
  .github/workflows/vercel-deploy.yml
Due: prettier --write

feat(trial): complete trial flow integration
  packages/playground-web/app/api/mcp/verify/route.ts
  packages/playground-web/components/modals/FreeTrialModal.tsx
Due: eslint --fix, prettier --write

fix(i18n): ko.json 용어 통일 - 데모→Explore
  packages/playground-web/locales/ko.json
Due: prettier --write

fix(trial): add insert policy and improve failure diagnostics
  packages/playground-web/__tests__/api/licenses-trial.test.ts
  packages/playground-web/__tests__/integration/free-trial-modal.test.tsx
  packages/playground-web/app/api/licenses/trial/route.ts
  packages/playground-web/components/modals/FreeTrialModal.tsx
  supabase/migrations/20260228235500_add_trial_insert_policy.sql
Due: eslint --fix, prettier --write

chore(playground-web): bundle pending updates
  packages/playground-web/__tests__/accessibility/wcag.test.tsx
  packages/playground-web/__tests__/e2e/explore-landing-responsive.spec.ts
  packages/playground-web/app/docs/page.tsx
  packages/playground-web/app/docs/quick-start/page.tsx
  packages/playground-web/app/explore/dark-boldness/dashboard/settings/page.tsx
  packages/playground-web/app/explore/square-minimalism/dashboard/layout.tsx
  packages/playground-web/app/explore/template/[id]/page.tsx
  packages/playground-web/app/layout.tsx
  packages/playground-web/app/robots.ts
  packages/playground-web/components/classic-magazine/RelatedArticles.tsx
  packages/playground-web/components/explore/landing/__tests__/LanguageSwitcher.test.tsx
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/components/landing/LandingPageWrapper.tsx
  packages/playground-web/components/pricing/PricingPage.tsx
  packages/playground-web/components/shared/AuthRedirect.tsx
  packages/playground-web/middleware.ts
  packages/playground-web/scripts/generate-screenshots.ts
Due: eslint --fix, prettier --write

feat(playground-web): unify KO UX writing flow for explore and pricing
  packages/playground-web/app/explore/template/[id]/page.tsx
  packages/playground-web/components/explore/ExplorePageHeader.tsx
  packages/playground-web/components/explore/ExploreTopBanner.tsx
  packages/playground-web/components/explore/TemplateCard.tsx
  packages/playground-web/components/explore/TemplateGallery.tsx
  packages/playground-web/components/explore/TemplateModal.tsx
  packages/playground-web/components/pricing/PricingPage.tsx
  packages/playground-web/data/i18n/explore.ts
  packages/playground-web/data/i18n/landing.ts
  packages/playground-web/data/i18n/pricing.ts
  packages/playground-web/data/i18n/ux-writing.ts
  packages/playground-web/data/templates.ts
  packages/playground-web/docs/ux-writing-ko-guide.md
  packages/playground-web/prompts/ko-ux-batch-items.seed.json
  packages/playground-web/prompts/ko-ux-batch-request-template.md
  packages/playground-web/prompts/ko-ux-batch-request.generated.md
  packages/playground-web/prompts/ko-ux-translation-system-prompt.md
  packages/playground-web/scripts/build-ko-ux-batch-prompt.mjs
  packages/playground-web/scripts/check-ko-ux-tone.mjs
Due: eslint --fix, prettier --write

feat: standardizing design system typography and finalizing Editorial Tech solutions page
  .moai/themes/generated/bold-line.json
  .moai/themes/generated/classic-magazine.json
  .moai/themes/generated/dark-boldness.json
  .moai/themes/generated/editorial-tech.json
  .moai/themes/generated/minimal-workspace.json
  .moai/themes/generated/neutral-workspace.json
  .moai/themes/generated/pebble.json
  .moai/themes/generated/square-minimalism.json
  packages/core/src/theme-v2.ts
  packages/playground-web/app/explore/bold-line/docs/page.tsx
  packages/playground-web/app/explore/bold-line/page.tsx
  packages/playground-web/app/explore/classic-magazine/article/page.tsx
  packages/playground-web/app/explore/classic-magazine/page.tsx
  packages/playground-web/app/explore/editorial-tech/page.tsx
  packages/playground-web/app/explore/editorial-tech/solutions/page.tsx
  packages/playground-web/components/explore/bold-line/BoldLineDocsPage.tsx
  packages/playground-web/components/explore/classic-magazine/ClassicMagazineArticlePage.tsx
  packages/playground-web/components/explore/editorial-tech/EditorialTechSolutionsPage.tsx
  packages/playground-web/components/modals/FreeTrialModal.tsx
  packages/playground-web/data/template-docs.ts
  packages/ui/src/lib/theme-loader.ts
  scripts/expand-recipes.d.ts
  scripts/expand-recipes.d.ts.map
  scripts/expand-recipes.js
  scripts/expand-recipes.js.map
  scripts/expand-recipes.ts
Due: eslint --fix, prettier --write

feat: implement Dark Boldness Trading Demo and suppress expansion script lints
  packages/playground-web/app/explore/dark-boldness/page.tsx
  packages/playground-web/app/explore/dark-boldness/trading/page.tsx
  packages/playground-web/components/explore/dark-boldness/DarkBoldnessTradingPage.tsx
  packages/playground-web/data/template-docs.ts
  scripts/expand-recipes.js
  scripts/expand-recipes.js.map
Due: eslint --fix, prettier --write

style: remove dividers from sidebars as requested
  packages/playground-web/app/explore/dark-boldness/page.tsx
  packages/playground-web/components/explore/dark-boldness/DarkBoldnessTradingPage.tsx
  packages/playground-web/data/i18n/ux-writing-ja.ts
  packages/playground-web/docs/ux-writing-ja-guide.md
  packages/playground-web/prompts/ja-ux-batch-items.seed.json
  packages/playground-web/prompts/ja-ux-batch-request-template.md
  packages/playground-web/prompts/ja-ux-batch-request.generated.md
  packages/playground-web/prompts/ja-ux-translation-system-prompt.md
  packages/playground-web/scripts/build-ja-ux-batch-prompt.mjs
  packages/playground-web/scripts/check-ja-ux-tone.mjs
Due: eslint --fix, prettier --write

feat: implement Pebble Social Feed demo with soft chunky aesthetic
  packages/playground-web/app/explore/pebble/feed/page.tsx
  packages/playground-web/app/explore/pebble/page.tsx
  packages/playground-web/components/explore/pebble/PebbleSocialFeedPage.tsx
  packages/playground-web/i18n/config.ts
  packages/playground-web/locales/ja.json
  packages/playground-web/prompts/ja-content-batches/docs__legal__en__privacy-policy.md.prompt.md
  packages/playground-web/prompts/ja-content-batches/docs__legal__en__refund-policy.md.prompt.md
  packages/playground-web/prompts/ja-content-batches/docs__legal__en__terms-of-service.md.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__ai-design-workflow-guide__en.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__design-tokens-best-practices__en.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__ai-code-generation-design-tokens.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__building-consistent-ui-with-claude.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__cursor-design-tokens-setup.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__cursor-vs-claude-code-comparison.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__dashboard-ui-template-ai.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__design-system-for-indie-hackers.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__design-tokens-for-ai-code-generation.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__getting-started-with-tekton.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__how-to-build-consistent-ui-without-designer.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__login-form-design-system.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__mcp-design-system-integration.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__shadcn-ui-ai-missing-piece.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__shadcn-vs-framingui-which-to-choose.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__solo-developer-design-system-guide.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__v0-vs-tekton-comparison.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__what-is-agentic-design-system.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__en__why-ai-generated-ui-looks-generic.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__figma-to-code-automation__en.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__mcp-advanced-integration__en.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__blog__oklch-color-system-guide__en.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__docs__en__components__button.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__docs__en__components__card.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__docs__en__components__input.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__docs__en__guides__mcp-setup.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__docs__en__guides__theming.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__docs__ko__installation.mdx.prompt.md
  packages/playground-web/prompts/ja-content-batches/packages__playground-web__content__docs__ko__quick-start.mdx.prompt.md
  packages/playground-web/prompts/ja-content-translation-manifest.json
  packages/playground-web/prompts/ja-content-translation-template.md
  packages/playground-web/scripts/build-ja-content-translation-batches.mjs
Due: eslint --fix, prettier --write

docs: finalize Pebble Social Feed documentation and sync project state
  docs/legal/ja/privacy-policy.md
  docs/legal/ja/refund-policy.md
  docs/legal/ja/terms-of-service.md
  packages/playground-web/content/blog/ai-design-workflow-guide/ja.mdx
  packages/playground-web/content/blog/figma-to-code-automation/ja.mdx
  packages/playground-web/content/blog/ja/cursor-vs-claude-code-comparison.mdx
  packages/playground-web/content/blog/ja/getting-started-with-tekton.mdx
  packages/playground-web/content/blog/mcp-advanced-integration/ja.mdx
  packages/playground-web/content/docs/ja/components/button.mdx
  packages/playground-web/content/docs/ja/components/card.mdx
  packages/playground-web/content/docs/ja/components/input.mdx
  packages/playground-web/content/docs/ja/guides/mcp-setup.mdx
  packages/playground-web/content/docs/ja/guides/theming.mdx
  packages/playground-web/content/docs/ja/installation.mdx
  packages/playground-web/content/docs/ja/quick-start.mdx
  packages/playground-web/data/template-docs.ts
Due: eslint --fix, prettier --write

style: redesign GlobalLanguageSwitcher to match Editorial Tech theme
  packages/playground-web/app/explore/account/page.tsx
  packages/playground-web/components/blog/BlogListPage.tsx
  packages/playground-web/components/blog/BlogPostPage.tsx
  packages/playground-web/components/explore/SelectionTopBar.tsx
  packages/playground-web/components/legal/LegalPageLayout.tsx
  packages/playground-web/components/shared/Footer.tsx
  packages/playground-web/components/shared/GlobalLanguageSwitcher.tsx
  packages/playground-web/contexts/ExploreLanguageContext.tsx
  packages/playground-web/contexts/GlobalLanguageContext.tsx
  packages/playground-web/data/i18n/blog.ts
  packages/playground-web/data/i18n/explore.ts
  packages/playground-web/data/i18n/footer.ts
  packages/playground-web/data/i18n/landing.ts
  packages/playground-web/data/i18n/legal.ts
  packages/playground-web/data/i18n/pricing.ts
Due: eslint --fix, prettier --write

style: apply theme recipes to GlobalLanguageSwitcher
  packages/playground-web/.mcp.json
  packages/playground-web/components/shared/GlobalLanguageSwitcher.tsx
  packages/playground-web/content/blog/design-tokens-best-practices/ja.mdx
  packages/playground-web/content/blog/ja/ai-code-generation-design-tokens.mdx
  packages/playground-web/content/blog/ja/building-consistent-ui-with-claude.mdx
  packages/playground-web/content/blog/ja/cursor-design-tokens-setup.mdx
  packages/playground-web/content/blog/ja/dashboard-ui-template-ai.mdx
  packages/playground-web/content/blog/ja/design-system-for-indie-hackers.mdx
  packages/playground-web/content/blog/ja/design-tokens-for-ai-code-generation.mdx
  packages/playground-web/content/blog/ja/how-to-build-consistent-ui-without-designer.mdx
  packages/playground-web/content/blog/ja/login-form-design-system.mdx
  packages/playground-web/content/blog/ja/mcp-design-system-integration.mdx
  packages/playground-web/content/blog/ja/shadcn-ui-ai-missing-piece.mdx
  packages/playground-web/content/blog/ja/shadcn-vs-framingui-which-to-choose.mdx
  packages/playground-web/content/blog/ja/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/ja/v0-vs-tekton-comparison.mdx
  packages/playground-web/content/blog/ja/what-is-agentic-design-system.mdx
  packages/playground-web/content/blog/ja/why-ai-generated-ui-looks-generic.mdx
  packages/playground-web/content/blog/oklch-color-system-guide/ja.mdx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx,js,jsx}) or (any of: packages/*/src/**/*.{ts,tsx,js,jsx})) or (any of: packages/*/__tests__/**/*.{ts,tsx,js,jsx})
  prettier --write: (((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: packages/*/src/**/*.{ts,tsx,js,jsx})) or (any of: packages/*/__tests__/**/*.{ts,tsx,js,jsx})
