Repository soo-kate-yeon/framingui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "packages/*/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "packages/*/__tests__/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"]
}

fix(studio): move dynamic thumbnail to gallery cards and fix css variable scope
  .codex/instructions.md
  packages/playground-web/components/studio/TemplateCard.tsx
  packages/playground-web/components/studio/TemplateModal.tsx
  packages/playground-web/components/studio/TemplateThumbnail.tsx
Due: eslint --fix, prettier --write

fix(ui): 스튜디오 대시보드 KPI 그리드 모바일 반응형 개선
  packages/playground-web/app/studio/dark-boldness/dashboard/page.tsx
  packages/playground-web/app/studio/editorial-tech/page.tsx
  packages/playground-web/app/studio/square-minimalism/dashboard/layout.tsx
  packages/playground-web/app/studio/square-minimalism/dashboard/page.tsx
Due: eslint --fix, prettier --write

fix(studio): use static JSON imports for thumbnail theme variables
  packages/playground-web/components/studio/TemplateThumbnail.tsx
  packages/playground-web/lib/theme-thumbnail-resolver.ts
  packages/playground-web/lib/themes/classic-magazine.json
  packages/playground-web/lib/themes/dark-boldness.json
  packages/playground-web/lib/themes/editorial-tech.json
  packages/playground-web/lib/themes/minimal-workspace.json
  packages/playground-web/lib/themes/neutral-workspace.json
  packages/playground-web/lib/themes/pebble.json
Due: eslint --fix, prettier --write

feat(analytics): add PostHog event tracking
  packages/playground-web/.env.example
  packages/playground-web/app/providers.tsx
  packages/playground-web/contexts/PostHogContext.tsx
  packages/playground-web/lib/analytics.ts
  packages/playground-web/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(feedback): add feedback page and floating button
  packages/playground-web/app/studio/feedback/page.tsx
  packages/playground-web/app/studio/page.tsx
  packages/playground-web/components/studio/FeedbackFloatingButton.tsx
  packages/playground-web/components/studio/Sidebar.tsx
Due: eslint --fix, prettier --write

feat(email): add Resend email service for feedback requests
  packages/playground-web/.env.example
  packages/playground-web/app/api/email/feedback-request/route.ts
  packages/playground-web/lib/email-templates/feedback-request.ts
  packages/playground-web/lib/email.ts
  packages/playground-web/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update template screenshots (1200x900@2x)
  packages/playground-web/public/screenshots/classic-magazine/dashboard.png
  packages/playground-web/public/screenshots/dark-boldness/dashboard.png
  packages/playground-web/public/screenshots/editorial-tech/dashboard.png
  packages/playground-web/public/screenshots/minimal-workspace/dashboard.png
  packages/playground-web/public/screenshots/neutral-workspace/dashboard.png
  packages/playground-web/public/screenshots/pebble/dashboard.png
  packages/playground-web/public/screenshots/square-minimalism/dashboard.png
Due: none

fix(packages): sync internal dependency versions
  packages/mcp-server/package.json
  packages/ui/package.json
Due: prettier --write

feat(docs): add documentation site with editorial-tech style
  packages/playground-web/app/docs/installation/page.tsx
  packages/playground-web/app/docs/layout.tsx
  packages/playground-web/app/docs/mcp/page.tsx
  packages/playground-web/app/docs/page.tsx
  packages/playground-web/app/docs/quick-start/page.tsx
  packages/playground-web/public/llms.txt
Due: eslint --fix, prettier --write

fix: update pnpm-lock.yaml for workspace deps
  pnpm-lock.yaml
Due: prettier --write

fix(docs): add mobile responsive layout with top nav
  packages/playground-web/app/docs/layout.tsx
Due: eslint --fix, prettier --write

feat(docs): add API Reference pages
  packages/playground-web/app/docs/api/core/page.tsx
  packages/playground-web/app/docs/api/page.tsx
  packages/playground-web/app/docs/api/ui/page.tsx
  packages/playground-web/app/docs/layout.tsx
Due: eslint --fix, prettier --write

feat(seo): optimize search result display
  packages/playground-web/app/apple-icon.svg
  packages/playground-web/app/icon.svg
  packages/playground-web/app/layout.tsx
Due: eslint --fix, prettier --write

feat(seo): add Open Graph image from hero section
  packages/playground-web/app/layout.tsx
  packages/playground-web/public/og-image.png
  packages/playground-web/scripts/capture-og-image.ts
Due: eslint --fix, prettier --write

fix(seo): use absolute URL for OG image
  packages/playground-web/app/layout.tsx
Due: eslint --fix, prettier --write

feat(docs): add component pages with 50+ code examples
  packages/playground-web/app/docs/components/button/page.tsx
  packages/playground-web/app/docs/components/card/page.tsx
  packages/playground-web/app/docs/components/dialog/page.tsx
  packages/playground-web/app/docs/components/input/page.tsx
  packages/playground-web/app/docs/components/page.tsx
  packages/playground-web/app/docs/components/select/page.tsx
  packages/playground-web/app/docs/layout.tsx
Due: eslint --fix, prettier --write

feat(landing): 베타 오픈 공지 배너 추가
  packages/playground-web/components/landing/LandingPage.tsx
Due: eslint --fix, prettier --write

fix(landing): 베타 배너 텍스트 영어로 수정
  packages/playground-web/components/landing/LandingPage.tsx
Due: eslint --fix, prettier --write

feat(content): add SEO/GEO content - 5 blog posts + 5 component docs
  packages/playground-web/content/blog/en/design-tokens-for-ai-code-generation.mdx
  packages/playground-web/content/blog/en/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/en/v0-vs-tekton-comparison.mdx
  packages/playground-web/content/blog/en/what-is-agentic-design-system.mdx
  packages/playground-web/content/blog/en/why-ai-generated-ui-looks-generic.mdx
  packages/playground-web/docs/components/button.mdx
  packages/playground-web/docs/components/card.mdx
  packages/playground-web/docs/components/dialog.mdx
  packages/playground-web/docs/components/input.mdx
  packages/playground-web/docs/components/select.mdx
  packages/playground-web/public/t-logo.png
  packages/playground-web/public/t-logo.svg
Due: none

fix(blog): add ko versions for new blog posts (required for routing)
  packages/playground-web/content/blog/ko/design-tokens-for-ai-code-generation.mdx
  packages/playground-web/content/blog/ko/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/ko/v0-vs-tekton-comparison.mdx
  packages/playground-web/content/blog/ko/what-is-agentic-design-system.mdx
  packages/playground-web/content/blog/ko/why-ai-generated-ui-looks-generic.mdx
Due: none

fix: hallucination corrections + favicon/OG update
  packages/playground-web/app/layout.tsx
  packages/playground-web/app/marketing-preview/page.tsx
  packages/playground-web/components/marketing/LayeredSquareAsset.tsx
  packages/playground-web/content/blog/en/design-tokens-for-ai-code-generation.mdx
  packages/playground-web/content/blog/en/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/en/v0-vs-tekton-comparison.mdx
  packages/playground-web/content/blog/ko/design-tokens-for-ai-code-generation.mdx
  packages/playground-web/content/blog/ko/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/ko/v0-vs-tekton-comparison.mdx
  packages/playground-web/public/favicon.png
  packages/playground-web/public/og-image.png
Due: eslint --fix, prettier --write

fix: add OG image fallback for blog/docs pages
  packages/playground-web/app/blog/[slug]/page.tsx
  packages/playground-web/app/blog/page.tsx
  packages/playground-web/app/docs/page.tsx
Due: eslint --fix, prettier --write

fix(metadata): OG 이미지 메타태그 상대 경로로 수정
  packages/playground-web/app/blog/[slug]/page.tsx
  packages/playground-web/app/blog/page.tsx
  packages/playground-web/app/docs/page.tsx
  packages/playground-web/app/layout.tsx
  packages/playground-web/app/page.tsx
Due: eslint --fix, prettier --write

fix(metadata): page.tsx에 openGraph.url 필드 추가
  packages/playground-web/app/page.tsx
Due: eslint --fix, prettier --write

fix(deps): update packages to fix high severity vulnerabilities
  pnpm-lock.yaml
Due: prettier --write

content: add SEO blog posts and component docs
  packages/playground-web/app/docs/components/checkbox/page.tsx
  packages/playground-web/app/docs/components/textarea/page.tsx
  packages/playground-web/content/blog/ai-design-workflow-guide/en.mdx
  packages/playground-web/content/blog/ai-design-workflow-guide/ko.mdx
  packages/playground-web/content/blog/figma-to-code-automation/en.mdx
  packages/playground-web/content/blog/figma-to-code-automation/ko.mdx
  packages/playground-web/content/blog/mcp-advanced-integration/en.mdx
  packages/playground-web/content/blog/mcp-advanced-integration/ko.mdx
Due: eslint --fix, prettier --write

content: add 2 blog posts and 3 component docs
  packages/playground-web/app/docs/components/alert/page.tsx
  packages/playground-web/app/docs/components/badge/page.tsx
  packages/playground-web/app/docs/components/tabs/page.tsx
  packages/playground-web/content/blog/design-tokens-best-practices/en.mdx
  packages/playground-web/content/blog/design-tokens-best-practices/ko.mdx
  packages/playground-web/content/blog/oklch-color-system-guide/en.mdx
  packages/playground-web/content/blog/oklch-color-system-guide/ko.mdx
Due: eslint --fix, prettier --write

docs: add llms indexes and AI-friendly summaries
  docs/README.md
  docs/api/README.md
  docs/architecture/README.md
  docs/guides/getting-started.md
  docs/packages/README.md
  llms.txt
  llms/api.txt
  llms/components.txt
  llms/guides.txt
Due: prettier --write

feat(web): add docs links and theme guide skeleton
  packages/playground-web/app/docs/layout.tsx
  packages/playground-web/app/docs/page.tsx
  packages/playground-web/app/docs/themes/page.tsx
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/components/shared/Footer.tsx
  packages/playground-web/data/i18n/footer.ts
  packages/playground-web/data/i18n/landing.ts
Due: eslint --fix, prettier --write

content: rebrand tekton to FramingUI in blog/docs
  packages/playground-web/app/docs/installation/page.tsx
  packages/playground-web/app/docs/layout.tsx
  packages/playground-web/app/docs/mcp/page.tsx
  packages/playground-web/app/docs/page.tsx
  packages/playground-web/app/docs/quick-start/page.tsx
  packages/playground-web/components/marketing/LayeredSquareAsset.tsx
  packages/playground-web/content/blog/en/cursor-vs-claude-code-comparison.mdx
  packages/playground-web/content/blog/en/design-tokens-for-ai-code-generation.mdx
  packages/playground-web/content/blog/en/getting-started-with-tekton.mdx
  packages/playground-web/content/blog/en/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/en/v0-vs-tekton-comparison.mdx
  packages/playground-web/content/blog/en/what-is-agentic-design-system.mdx
  packages/playground-web/content/blog/en/why-ai-generated-ui-looks-generic.mdx
  packages/playground-web/content/blog/ko/cursor-vs-claude-code-comparison.mdx
  packages/playground-web/content/blog/ko/design-tokens-for-ai-code-generation.mdx
  packages/playground-web/content/blog/ko/getting-started-with-tekton.mdx
  packages/playground-web/content/blog/ko/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/ko/v0-vs-tekton-comparison.mdx
  packages/playground-web/content/blog/ko/what-is-agentic-design-system.mdx
  packages/playground-web/content/blog/ko/why-ai-generated-ui-looks-generic.mdx
  packages/playground-web/public/favicon.png
  packages/playground-web/public/t-logo.png
  packages/playground-web/public/t-logo.svg
Due: eslint --fix, prettier --write

refactor(blog/ko): Tekton → FramingUI 브랜딩 반영
  packages/playground-web/app/blog/layout.tsx
  packages/playground-web/app/docs/layout.tsx
  packages/playground-web/components/blog/BlogPostPage.tsx
  packages/playground-web/components/shared/BetaBanner.tsx
  packages/playground-web/components/shared/InlineCTA.tsx
  packages/playground-web/content/blog/ko/design-tokens-for-ai-code-generation.mdx
  packages/playground-web/content/blog/ko/solo-developer-design-system-guide.mdx
  packages/playground-web/content/blog/ko/v0-vs-framingui-comparison.mdx
  packages/playground-web/content/blog/ko/v0-vs-tekton-comparison.mdx
  packages/playground-web/content/blog/ko/what-is-agentic-design-system.mdx
  packages/playground-web/content/blog/ko/why-ai-generated-ui-looks-generic.mdx
Due: eslint --fix, prettier --write

feat(marketing): redesign landing page and component assets for editorial tech theme
  packages/playground-web/app/explore/account/page.tsx
  packages/playground-web/app/explore/actions.ts
  packages/playground-web/app/explore/classic-magazine/article/[id]/page.tsx
  packages/playground-web/app/explore/classic-magazine/docs/page.tsx
  packages/playground-web/app/explore/classic-magazine/page.tsx
  packages/playground-web/app/explore/dark-boldness/dashboard/page.tsx
  packages/playground-web/app/explore/dark-boldness/dashboard/settings/page.tsx
  packages/playground-web/app/explore/dark-boldness/docs/page.tsx
  packages/playground-web/app/explore/dark-boldness/layout.tsx
  packages/playground-web/app/explore/dark-boldness/page.tsx
  packages/playground-web/app/explore/editorial-tech/page.tsx
  packages/playground-web/app/explore/feedback/page.tsx
  packages/playground-web/app/explore/layout.tsx
  packages/playground-web/app/explore/minimal-workspace/docs/page.tsx
  packages/playground-web/app/explore/minimal-workspace/page.tsx
  packages/playground-web/app/explore/neutral-workspace/docs/page.tsx
  packages/playground-web/app/explore/neutral-workspace/page.tsx
  packages/playground-web/app/explore/page.tsx
  packages/playground-web/app/explore/pebble/docs/page.tsx
  packages/playground-web/app/explore/pebble/page.tsx
  packages/playground-web/app/explore/square-minimalism/dashboard/customers/page.tsx
  packages/playground-web/app/explore/square-minimalism/dashboard/layout.tsx
  packages/playground-web/app/explore/square-minimalism/dashboard/page.tsx
  packages/playground-web/app/explore/square-minimalism/dashboard/settings/page.tsx
  packages/playground-web/app/explore/square-minimalism/docs/page.tsx
  packages/playground-web/app/explore/square-minimalism/page.tsx
  packages/playground-web/app/explore/template/[id]/page.tsx
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/components/marketing/AgentReviewMarquee.tsx
  packages/playground-web/components/marketing/Section1Assets.tsx
  packages/playground-web/components/marketing/Section2Assets.tsx
  packages/playground-web/components/marketing/Section3Assets.tsx
  packages/playground-web/data/i18n/landing.ts
Due: eslint --fix, prettier --write

feat(analytics): add funnel + UTM attribution tracking for cycle-010
  packages/playground-web/app/docs/layout.tsx
  packages/playground-web/components/explore/ExplorePageClient.tsx
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/components/modals/FreeTrialModal.tsx
  packages/playground-web/components/shared/InlineCTA.tsx
  packages/playground-web/contexts/PostHogContext.tsx
  packages/playground-web/docs/analytics-funnel-cycle-010.md
  packages/playground-web/lib/analytics.ts
  packages/playground-web/lib/utm.ts
Due: eslint --fix, prettier --write

chore(rebrand): move local repo to framingui and update repo/path references
  .mcp.json
  packages/core/package.json
  packages/esbuild-plugin/package.json
  packages/mcp-server/package.json
  packages/styled/package.json
  packages/tokens/package.json
  packages/ui/package.json
Due: prettier --write

chore(mcp): rename CLI command to framingui-mcp (keep tekton-mcp alias)
  CHANGELOG.md
  docs/packages/mcp-server.md
  packages/mcp-server/README.md
  packages/mcp-server/docs/03-api-reference.md
  packages/mcp-server/docs/04-architecture.md
  packages/mcp-server/docs/05-developer-guide.md
  packages/mcp-server/docs/06-integration-guide.md
  packages/mcp-server/docs/README.md
  packages/mcp-server/package.json
  packages/mcp-server/packages/mcp-server/src/prompts/getting-started.ts
  packages/mcp-server/src/auth/guard.ts
  packages/mcp-server/src/cli/agent-md-templates.ts
  packages/mcp-server/src/cli/guide-template.ts
  packages/mcp-server/src/cli/init.ts
  packages/mcp-server/src/cli/login.ts
  packages/mcp-server/src/cli/logout.ts
  packages/mcp-server/src/cli/status.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/prompts/getting-started.ts
  packages/mcp-server/src/tools/preview-theme.ts
  packages/mcp-server/src/tools/whoami.ts
  packages/playground-web/app/api/mcp/cli-callback/complete/route.ts
  packages/playground-web/app/mcp/auth/page.tsx
Due: eslint --fix, prettier --write

fix: add missing cookie and @babel/runtime deps for build
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(rebrand): MCP 서버 리브랜딩 및 의존성 정리
  .moai/themes/generated/bold-line.json
  .npmrc
  packages/mcp-server/package.json
  packages/mcp-server/src/auth/guard.ts
  packages/mcp-server/src/auth/verify.ts
  packages/mcp-server/src/cli/credentials.ts
  packages/mcp-server/src/cli/login.ts
  packages/mcp-server/src/cli/status.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/whoami.ts
  packages/playground-web/lib/themes/bold-line.json
  packages/playground-web/package.json
Due: eslint --fix, prettier --write
