Repository soo-kate-yeon/framingui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "packages/*/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "packages/*/__tests__/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"]
}

Release core v0.4.9, ui v0.6.6, mcp-server v0.6.23
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix(mcp-server): enforce tailwind v3 bootstrap
  packages/mcp-server/__tests__/cli/init-fixtures.test.ts
  packages/mcp-server/__tests__/tools/init-bootstrap.test.ts
  packages/mcp-server/__tests__/tools/validate-environment.test.ts
  packages/mcp-server/src/cli/init.ts
  packages/mcp-server/src/tools/validate-environment.ts
Due: eslint --fix, prettier --write

release(ui,mcp-server): bootstrap provider install path
  README.md
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/README.md
  packages/mcp-server/__tests__/cli/init-fixtures.test.ts
  packages/mcp-server/__tests__/tools/init-bootstrap.test.ts
  packages/mcp-server/package.json
  packages/mcp-server/src/cli/agent-md-templates.ts
  packages/mcp-server/src/cli/guide-template.ts
  packages/mcp-server/src/cli/init.ts
  packages/mcp-server/src/tools/validate-environment.ts
  packages/ui/CHANGELOG.md
  packages/ui/README.md
  packages/ui/__tests__/framingui-provider.test.tsx
  packages/ui/__tests__/index.test.ts
  packages/ui/package.json
  packages/ui/src/framingui-provider.tsx
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write

fix(lockfile): sync mcp-server ui dependency
  pnpm-lock.yaml
Due: prettier --write

docs: add 5 guide docs (2026-03-13)
  packages/playground-web/content/docs/guides/en/button-variants.mdx
  packages/playground-web/content/docs/guides/en/card-layouts.mdx
  packages/playground-web/content/docs/guides/en/dark-mode-tokens.mdx
  packages/playground-web/content/docs/guides/en/form-patterns.mdx
  packages/playground-web/content/docs/guides/en/icon-integration.mdx
  packages/playground-web/content/docs/guides/ja/button-variants.mdx
  packages/playground-web/content/docs/guides/ja/card-layouts.mdx
  packages/playground-web/content/docs/guides/ja/dark-mode-tokens.mdx
  packages/playground-web/content/docs/guides/ja/form-patterns.mdx
  packages/playground-web/content/docs/guides/ja/icon-integration.mdx
  packages/playground-web/content/docs/guides/ko/button-variants.mdx
  packages/playground-web/content/docs/guides/ko/card-layouts.mdx
  packages/playground-web/content/docs/guides/ko/dark-mode-tokens.mdx
  packages/playground-web/content/docs/guides/ko/form-patterns.mdx
  packages/playground-web/content/docs/guides/ko/icon-integration.mdx
Due: none

Harden Tailwind v4 runtime contract
  README.md
  packages/mcp-server/README.md
  packages/mcp-server/__tests__/cli/init-fixtures.test.ts
  packages/mcp-server/__tests__/tools/init-bootstrap.test.ts
  packages/mcp-server/src/cli/agent-md-templates.ts
  packages/mcp-server/src/cli/guide-template.ts
  packages/mcp-server/src/cli/init.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/validate-environment.ts
  packages/ui/README.md
  packages/ui/__tests__/styles-contract.test.ts
  packages/ui/styles/tokens.css
Due: eslint --fix, prettier --write

Release @framingui/ui v0.6.12
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

Release @framingui/mcp-server v0.6.26
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update Tailwind v4 runtime contract guides
  docs/guides/pnpm-nextjs-troubleshooting.md
  docs/packages/README.md
  docs/packages/install-update.md
  docs/packages/mcp-server.md
  docs/packages/ui.md
Due: prettier --write

feat: add missing analytics tracking
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/components/shared/FreeTrialBanner.tsx
Due: eslint --fix, prettier --write

fix(blog): restore ja removal, fix en/ko locale filtering
  packages/playground-web/app/blog/[slug]/page.tsx
  packages/playground-web/app/blog/page.tsx
  packages/playground-web/app/blog/tag/[tag]/page.tsx
  packages/playground-web/app/explore/actions.ts
  packages/playground-web/app/explore/template/[id]/page.tsx
  packages/playground-web/app/legal/[slug]/page.tsx
  packages/playground-web/app/page.tsx
  packages/playground-web/components/blog/BlogCard.tsx
  packages/playground-web/components/blog/BlogHero.tsx
  packages/playground-web/components/blog/BlogListPage.tsx
  packages/playground-web/components/blog/BlogPostPage.tsx
  packages/playground-web/components/explore/SelectionTopBar.tsx
  packages/playground-web/components/explore/TemplateCard.tsx
  packages/playground-web/components/explore/TemplateGallery.tsx
  packages/playground-web/components/explore/TemplateModal.tsx
  packages/playground-web/components/landing/HeroSection.tsx
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/components/landing/LandingPageWrapper.tsx
  packages/playground-web/components/legal/LegalPageLayout.tsx
  packages/playground-web/components/shared/GlobalLanguageSwitcher.tsx
  packages/playground-web/contexts/ExploreLanguageContext.tsx
  packages/playground-web/contexts/GlobalLanguageContext.tsx
  packages/playground-web/data/i18n/blog.ts
  packages/playground-web/data/i18n/explore.ts
  packages/playground-web/data/i18n/footer.ts
  packages/playground-web/data/i18n/freeTrialBanner.ts
  packages/playground-web/data/i18n/freeTrialModal.ts
  packages/playground-web/data/i18n/landing.ts
  packages/playground-web/data/i18n/legal.ts
  packages/playground-web/data/i18n/pricing.ts
  packages/playground-web/data/templates.ts
  packages/playground-web/lib/blog/index.ts
  packages/playground-web/lib/legal.ts
Due: eslint --fix, prettier --write

spec(mcp): add react native direct-write support spec
  .moai/specs/SPEC-MCP-012/acceptance.md
  .moai/specs/SPEC-MCP-012/plan.md
  .moai/specs/SPEC-MCP-012/spec.md
Due: prettier --write

feat(mcp): add react native environment validation
  packages/mcp-server/__tests__/tools/validate-environment.react-native.test.ts
  packages/mcp-server/src/tools/validate-environment.ts
Due: eslint --fix, prettier --write

docs(mcp): add react native direct write guidance
  README.md
  packages/mcp-server/__tests__/cli/agent-md-templates.test.ts
  packages/mcp-server/__tests__/tools/screen-workflow-prompt.test.ts
  packages/mcp-server/src/cli/agent-md-templates.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/prompts/screen-workflow.ts
Due: eslint --fix, prettier --write

test(mcp): harden api-backed tool coverage
  .moai/specs/SPEC-MCP-012/acceptance.md
  .moai/specs/SPEC-MCP-012/plan.md
  .moai/specs/SPEC-MCP-012/spec.md
  packages/mcp-server/__tests__/data/recipe-resolver.test.ts
  packages/mcp-server/__tests__/data/screen-examples.test.ts
  packages/mcp-server/__tests__/index.test.ts
  packages/mcp-server/__tests__/tools/preview-component.test.ts
  packages/mcp-server/__tests__/tools/preview-theme.test.ts
  packages/mcp-server/__tests__/tools/validate-screen-definition.test.ts
Due: eslint --fix, prettier --write

feat(mcp): add project context detection
  packages/mcp-server/__tests__/tools/detect-project-context.test.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/project-context-state.ts
  packages/mcp-server/src/project-context.ts
  packages/mcp-server/src/schemas/mcp-schemas.ts
  packages/mcp-server/src/tools/detect-project-context.ts
  packages/mcp-server/src/tools/get-screen-generation-context.ts
Due: eslint --fix, prettier --write

docs(mcp): add detection-first project guidance
  README.md
  packages/mcp-server/__tests__/tools/project-context-guidance.test.ts
  packages/mcp-server/src/cli/agent-md-templates.ts
  packages/mcp-server/src/cli/guide-template.ts
  packages/mcp-server/src/cli/init.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/prompts/getting-started.ts
  packages/mcp-server/src/prompts/screen-workflow.ts
Due: eslint --fix, prettier --write

test(mcp): stabilize project context validation coverage
  .moai/specs/SPEC-MCP-013/acceptance.md
  .moai/specs/SPEC-MCP-013/plan.md
  .moai/specs/SPEC-MCP-013/spec.md
  packages/mcp-server/__tests__/mcp-protocol/json-rpc-format.test.ts
  packages/mcp-server/__tests__/mcp-protocol/stdio-transport.test.js
  packages/mcp-server/__tests__/mcp-protocol/stdio-transport.test.ts
  packages/mcp-server/__tests__/tools/get-screen-generation-context.test.ts
  packages/mcp-server/__tests__/tools/list-components.test.ts
  packages/mcp-server/__tests__/tools/list-screen-templates.test.ts
  packages/mcp-server/__tests__/tools/screen-tools.test.ts
Due: eslint --fix, prettier --write

spec(rn): add parity expansion roadmap
  .moai/specs/SPEC-RN-002/acceptance.md
  .moai/specs/SPEC-RN-002/plan.md
  .moai/specs/SPEC-RN-002/spec.md
Due: prettier --write

feat(rn): scaffold react native runtime package
  packages/react-native/README.md
  packages/react-native/__tests__/package.test.ts
  packages/react-native/package.json
  packages/react-native/src/index.ts
  packages/react-native/tsconfig.json
  packages/react-native/vitest.config.ts
Due: eslint --fix, prettier --write

feat(rn): add token consumption helpers
  packages/react-native/__tests__/helpers.test.ts
  packages/react-native/src/contracts.ts
  packages/react-native/src/helpers.ts
  packages/react-native/src/index.ts
  packages/react-native/src/tokens.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(rn): add theme runtime foundation
  .moai/specs/SPEC-RN-002/acceptance.md
  packages/react-native/__tests__/theme-runtime.test.tsx
  packages/react-native/src/components/Button.tsx
  packages/react-native/src/components/InlineMessage.tsx
  packages/react-native/src/components/Screen.tsx
  packages/react-native/src/components/Stack.tsx
  packages/react-native/src/components/TextField.tsx
  packages/react-native/src/helpers.ts
  packages/react-native/src/index.ts
  packages/react-native/src/theme.tsx
  packages/react-native/src/tokens.ts
Due: eslint --fix, prettier --write

feat(rn): add layout token expansion
  .moai/specs/SPEC-RN-002/acceptance.md
  packages/react-native/__tests__/layout.test.tsx
  packages/react-native/src/components/Screen.tsx
  packages/react-native/src/index.ts
  packages/react-native/src/layout.ts
Due: eslint --fix, prettier --write

chore(tsconfig): reference mcp-server and react-native packages
  tsconfig.json
Due: prettier --write

feat(rn): add higher-level layout primitives
  .moai/specs/SPEC-RN-002/acceptance.md
  packages/react-native/__tests__/primitives-layout.test.tsx
  packages/react-native/src/components/ActionRow.tsx
  packages/react-native/src/components/FormSection.tsx
  packages/react-native/src/components/ListSection.tsx
  packages/react-native/src/components/ScreenHeader.tsx
  packages/react-native/src/components/Section.tsx
  packages/react-native/src/components/index.ts
  packages/react-native/src/index.ts
Due: eslint --fix, prettier --write

feat(rn): add core interaction surface
  .moai/specs/SPEC-RN-002/acceptance.md
  packages/react-native/__tests__/core-surface.test.tsx
  packages/react-native/src/components/Checkbox.tsx
  packages/react-native/src/components/Heading.tsx
  packages/react-native/src/components/IconButton.tsx
  packages/react-native/src/components/PickerField.tsx
  packages/react-native/src/components/RadioGroup.tsx
  packages/react-native/src/components/Switch.tsx
  packages/react-native/src/components/Text.tsx
  packages/react-native/src/components/TextArea.tsx
  packages/react-native/src/components/index.ts
  packages/react-native/src/index.ts
  packages/react-native/test/react-native-mock.ts
Due: eslint --fix, prettier --write

feat(rn): add data and feedback surface
  .moai/specs/SPEC-RN-002/acceptance.md
  packages/react-native/__tests__/data-surface.test.tsx
  packages/react-native/src/components/Avatar.tsx
  packages/react-native/src/components/Badge.tsx
  packages/react-native/src/components/Card.tsx
  packages/react-native/src/components/EmptyState.tsx
  packages/react-native/src/components/ListItem.tsx
  packages/react-native/src/components/Modal.tsx
  packages/react-native/src/components/SegmentedControl.tsx
  packages/react-native/src/components/index.ts
  packages/react-native/src/index.ts
  packages/react-native/test/react-native-mock.ts
Due: eslint --fix, prettier --write

fix(ci): harden playground and perf test stability
  packages/core/__tests__/layout-integration.test.ts
  packages/playground-web/__tests__/contexts/AuthContext.test.tsx
  packages/playground-web/__tests__/e2e/explore-landing-responsive.spec.ts
  packages/playground-web/__tests__/e2e/mcp-pipeline-smoke.spec.ts
  packages/playground-web/contexts/AuthContext.tsx
Due: eslint --fix, prettier --write

chore(worktree): add env sync helper
  WORKFLOW.md
  docs/README.md
  docs/guides/worktree-env-sync.md
  package.json
  scripts/copy-worktree-env.sh
Due: prettier --write

feat(rn): add paywall screen primitive
  packages/react-native/__tests__/primitives.test.tsx
  packages/react-native/src/components/PaywallScreen.tsx
  packages/react-native/src/components/index.ts
  packages/react-native/src/index.ts
Due: eslint --fix, prettier --write

feat(ux): rewrite template copy, fix banner CTA link, update hero video sources
  packages/playground-web/app/blog/layout.tsx
  packages/playground-web/components/landing/HeroSection.tsx
  packages/playground-web/components/shared/FreeTrialBanner.tsx
  packages/playground-web/data/templates.ts
Due: eslint --fix, prettier --write

feat: add GA4 daily digest and alert scripts
  scripts/ga4-alert.mjs
  scripts/ga4-daily-digest.mjs
Due: none

fix(explore): redesign template card modal & gallery layout
  packages/playground-web/components/explore/TemplateCard.tsx
  packages/playground-web/components/explore/TemplateGallery.tsx
  packages/playground-web/components/explore/TemplateModal.tsx
  packages/playground-web/components/landing/HeroSection.tsx
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/data/i18n/explore.ts
  packages/playground-web/data/i18n/pricing.ts
  packages/playground-web/data/templates.ts
  packages/playground-web/public/video/hero_desktop.mp4
  packages/playground-web/public/video/hero_desktop.webm
  packages/playground-web/public/video/hero_mobile.webm
  packages/playground-web/tailwind.config.ts
Due: eslint --fix, prettier --write

fix(explore): temporarily disable free trial modal
  packages/playground-web/components/explore/ExplorePageClient.tsx
Due: eslint --fix, prettier --write

feat: add trial CTA to hero and fix pricing page wording
  packages/playground-web/components/landing/HeroSection.tsx
  packages/playground-web/components/landing/LandingPage.tsx
  packages/playground-web/components/modals/TrialLaunchModal.tsx
  packages/playground-web/components/modals/index.ts
  packages/playground-web/components/pricing/PricingPage.tsx
  packages/playground-web/data/i18n/landing.ts
Due: eslint --fix, prettier --write
