Repository soo-kate-yeon/framingui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "packages/*/src/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "packages/*/__tests__/**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"]
}

fix(ci): sync lockfile for mcp release
  pnpm-lock.yaml
Due: prettier --write

fix(core): harden bundled icon data build
  packages/core/CHANGELOG.md
  packages/core/data/icon-libraries/generated/feather.json
  packages/core/data/icon-libraries/generated/heroicons.json
  packages/core/data/icon-libraries/generated/lucide.json
  packages/core/package.json
  packages/core/scripts/copy-bundled-generated-data.mjs
  packages/core/scripts/prepare-build.mjs
Due: prettier --write

chore: exclude MoAI-ADK framework files from git tracking
  .gitignore
Due: none

fix(mcp): refresh pinned configs and add cli version flag
  docs/packages/install-update.md
  docs/packages/mcp-server.md
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/__tests__/cli/mcp-config.test.ts
  packages/mcp-server/__tests__/cli/version.test.ts
  packages/mcp-server/package.json
  packages/mcp-server/src/cli/index.ts
  packages/mcp-server/src/cli/init.ts
  packages/mcp-server/src/cli/mcp-config.ts
  packages/mcp-server/src/cli/version.ts
Due: eslint --fix, prettier --write

Add blog post: AI-Proof Design (EN/KO)
  packages/playground-web/content/blog/en/ai-proof-design.mdx
  packages/playground-web/content/blog/ko/ai-proof-design.mdx
Due: none

feat: add blog post about AI color consistency and semantic tokens
  packages/playground-web/content/blog/en/hidden-cost-generic-ui.mdx
  packages/playground-web/content/blog/ko/hidden-cost-generic-ui.mdx
Due: none

content: add Hidden Cost of Generic UI blog (en/ko)
  packages/playground-web/content/blog/en/hidden-cost-generic-ui.mdx
  packages/playground-web/content/blog/ko/hidden-cost-generic-ui.mdx
Due: none

fix(mcp): normalize legacy theme entitlements
  .moai/specs/SPEC-MCP-009/acceptance.md
  .moai/specs/SPEC-MCP-009/implementation-report.md
  .moai/specs/SPEC-MCP-009/plan.md
  .moai/specs/SPEC-MCP-009/spec.md
  docs/packages/install-update.md
  docs/packages/mcp-server.md
  packages/playground-web/__tests__/api/mcp-verify-canonicalization.test.ts
  packages/playground-web/__tests__/api/paddle-webhook.test.ts
  packages/playground-web/__tests__/lib/mcp-theme-entitlements.test.ts
  packages/playground-web/app/api/mcp/verify/route.ts
  packages/playground-web/app/api/webhooks/paddle/route.ts
  packages/playground-web/lib/mcp/auth-helper.ts
  packages/playground-web/lib/mcp/theme-entitlements.ts
Due: eslint --fix, prettier --write

fix(mcp): normalize legacy theme entitlements (#81)
  .moai/specs/SPEC-MCP-009/acceptance.md
  .moai/specs/SPEC-MCP-009/implementation-report.md
  .moai/specs/SPEC-MCP-009/plan.md
  .moai/specs/SPEC-MCP-009/spec.md
  docs/packages/install-update.md
  docs/packages/mcp-server.md
  packages/playground-web/__tests__/api/mcp-verify-canonicalization.test.ts
  packages/playground-web/__tests__/api/paddle-webhook.test.ts
  packages/playground-web/__tests__/lib/mcp-theme-entitlements.test.ts
  packages/playground-web/app/api/mcp/verify/route.ts
  packages/playground-web/app/api/webhooks/paddle/route.ts
  packages/playground-web/lib/mcp/auth-helper.ts
  packages/playground-web/lib/mcp/theme-entitlements.ts
Due: eslint --fix, prettier --write

fix: correct blog post dates from 2025 to 2026
  packages/playground-web/content/blog/en/ai-proof-design.mdx
  packages/playground-web/content/blog/en/hidden-cost-generic-ui.mdx
  packages/playground-web/content/blog/en/zero-config-theming.mdx
  packages/playground-web/content/blog/ko/ai-proof-design.mdx
  packages/playground-web/content/blog/ko/hidden-cost-generic-ui.mdx
  packages/playground-web/content/blog/ko/zero-config-theming.mdx
Due: none

release(mcp-server): cut 0.6.9
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/__tests__/tools/dist-screen-tools-contract.test.ts
  packages/mcp-server/__tests__/tools/generate-screen-quality.test.ts
  packages/mcp-server/__tests__/tools/validate-screen-definition-local-fallback.test.ts
  packages/mcp-server/__tests__/tools/validate-screen-definition-resilience.test.ts
  packages/mcp-server/package.json
  packages/mcp-server/src/tools/generate-screen.ts
  packages/mcp-server/src/tools/validate-screen-definition.ts
Due: eslint --fix, prettier --write

blog: add 5 blog posts (2026-03-08)
  packages/playground-web/content/blog/en/ai-ui-consistency-problem.mdx
  packages/playground-web/content/blog/en/cursor-ai-design-system.mdx
  packages/playground-web/content/blog/en/design-system-roi.mdx
  packages/playground-web/content/blog/en/indie-hacker-ui-stack.mdx
  packages/playground-web/content/blog/en/tailwind-design-tokens.mdx
  packages/playground-web/content/blog/ko/ai-ui-consistency-problem.mdx
  packages/playground-web/content/blog/ko/cursor-ai-design-system.mdx
  packages/playground-web/content/blog/ko/design-system-roi.mdx
  packages/playground-web/content/blog/ko/indie-hacker-ui-stack.mdx
  packages/playground-web/content/blog/ko/tailwind-design-tokens.mdx
Due: none

blog: add 5 blog posts (2026-03-08) (#84)
  packages/playground-web/content/blog/en/ai-ui-consistency-problem.mdx
  packages/playground-web/content/blog/en/cursor-ai-design-system.mdx
  packages/playground-web/content/blog/en/design-system-roi.mdx
  packages/playground-web/content/blog/en/indie-hacker-ui-stack.mdx
  packages/playground-web/content/blog/en/tailwind-design-tokens.mdx
  packages/playground-web/content/blog/ko/ai-ui-consistency-problem.mdx
  packages/playground-web/content/blog/ko/cursor-ai-design-system.mdx
  packages/playground-web/content/blog/ko/design-system-roi.mdx
  packages/playground-web/content/blog/ko/indie-hacker-ui-stack.mdx
  packages/playground-web/content/blog/ko/tailwind-design-tokens.mdx
Due: none

release(mcp-server): v0.6.14 publish integrity gate and skill enforcement
  .agents/skills/npm-publish/SKILL.md
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  scripts/check-publish-integrity.mjs
Due: prettier --write

Release v0.6.16
  .moai/specs/SPEC-MCP-011/acceptance.md
  .moai/specs/SPEC-MCP-011/spec.md
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/README.md
  packages/mcp-server/__tests__/commands/slash-command-registry.test.ts
  packages/mcp-server/__tests__/tools/screen-contract-parity.test.ts
  packages/mcp-server/docs/01-quickstart.md
  packages/mcp-server/docs/02-user-guide.md
  packages/mcp-server/docs/03-api-reference.md
  packages/mcp-server/docs/06-integration-guide.md
  packages/mcp-server/package.json
  packages/mcp-server/src/commands/slash-command-registry.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/prompts/screen-workflow.ts
  packages/mcp-server/src/schemas/mcp-schemas.ts
  packages/mcp-server/src/tools/get-screen-generation-context.ts
  packages/mcp-server/src/tools/validate-screen-definition.ts
Due: eslint --fix, prettier --write

Refine screen generation guidance
  .moai/specs/SPEC-MCP-011/spec.md
  packages/mcp-server/README.md
  packages/mcp-server/__tests__/commands/slash-command-registry.test.ts
  packages/mcp-server/__tests__/tools/get-screen-generation-context.test.ts
  packages/mcp-server/__tests__/tools/validate-environment.test.ts
  packages/mcp-server/docs/01-quickstart.md
  packages/mcp-server/docs/02-user-guide.md
  packages/mcp-server/docs/03-api-reference.md
  packages/mcp-server/src/cli/agent-md-templates.ts
  packages/mcp-server/src/commands/slash-command-registry.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/prompts/getting-started.ts
  packages/mcp-server/src/prompts/screen-workflow.ts
  packages/mcp-server/src/schemas/mcp-schemas.ts
  packages/mcp-server/src/tools/get-screen-generation-context.ts
  packages/mcp-server/src/tools/preview-component.ts
  packages/mcp-server/src/tools/preview-screen-template.ts
  packages/mcp-server/src/tools/validate-environment.ts
Due: eslint --fix, prettier --write

Release v0.6.17
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
Due: prettier --write

Sync pnpm lockfile for Vercel
  pnpm-lock.yaml
Due: prettier --write

feat(docs): add dynamic routing for guides
  packages/mcp-server/framingui-mcp-server-0.6.18.tgz
  packages/playground-web/app/docs/guides/[slug]/page.tsx
  packages/playground-web/components/docs/DocsGuidePage.tsx
  packages/playground-web/lib/docs/index.ts
  packages/playground-web/lib/docs/schema.ts
Due: eslint --fix, prettier --write

i18n: add Korean and Japanese translations for blogs and docs
  packages/playground-web/content/blog/ja/ai-ui-consistency-problem.mdx
  packages/playground-web/content/blog/ja/cursor-ai-design-system.mdx
  packages/playground-web/content/blog/ja/design-system-roi.mdx
  packages/playground-web/content/blog/ja/indie-hacker-ui-stack.mdx
  packages/playground-web/content/blog/ja/tailwind-design-tokens.mdx
  packages/playground-web/content/blog/ko/ai-ui-consistency-problem.mdx
  packages/playground-web/content/blog/ko/cursor-ai-design-system.mdx
  packages/playground-web/content/blog/ko/design-system-roi.mdx
  packages/playground-web/content/blog/ko/indie-hacker-ui-stack.mdx
  packages/playground-web/content/blog/ko/tailwind-design-tokens.mdx
  packages/playground-web/content/docs/ja/guides/design-tokens.mdx
  packages/playground-web/content/docs/ja/guides/faq.mdx
  packages/playground-web/content/docs/ja/guides/getting-started.mdx
  packages/playground-web/content/docs/ja/guides/mcp-integration.mdx
  packages/playground-web/content/docs/ja/guides/theming.mdx
  packages/playground-web/content/docs/ko/guides/design-tokens.mdx
  packages/playground-web/content/docs/ko/guides/faq.mdx
  packages/playground-web/content/docs/ko/guides/getting-started.mdx
  packages/playground-web/content/docs/ko/guides/mcp-integration.mdx
  packages/playground-web/content/docs/ko/guides/theming.mdx
Due: none

Refresh public package docs
  README.md
  packages/core/README.md
  packages/esbuild-plugin/README.md
  packages/mcp-server/README.md
  packages/mcp-server/SCREEN-TOOLS.md
  packages/mcp-server/docs/01-quickstart.md
  packages/mcp-server/docs/02-user-guide.md
  packages/mcp-server/docs/03-api-reference.md
  packages/mcp-server/docs/04-architecture.md
  packages/mcp-server/docs/05-developer-guide.md
  packages/mcp-server/docs/06-integration-guide.md
  packages/mcp-server/docs/README.md
  packages/mcp-server/src/cli/agent-md-templates.ts
  packages/mcp-server/src/cli/guide-template.ts
  packages/playground-web/README.md
  packages/styled/README.md
  packages/tokens/README.md
  packages/ui/README.md
Due: eslint --fix, prettier --write

Trim internal repository docs
  packages/core/docs/README.md
  packages/core/docs/api-reference.md
  packages/core/docs/examples.md
  packages/core/docs/token-system.md
  packages/core/src/screen-generation/API.md
  packages/core/src/screen-generation/INTEGRATION.md
  packages/core/src/screen-generation/PHASE-1.md
  packages/core/src/screen-generation/PHASE-2.md
  packages/core/src/screen-generation/PHASE-3.md
  packages/core/src/screen-generation/README.md
  packages/ui/docs/components.md
  packages/ui/docs/primitives.md
  packages/ui/docs/templates-api.md
Due: prettier --write

fix(playground-web): stabilize e2e smoke coverage
  .github/workflows/e2e-tests.yml
  .moai/reports/e2e-followup-2026-03-09.md
  packages/playground-web/__tests__/e2e/README.md
  packages/playground-web/__tests__/e2e/TESTING.md
  packages/playground-web/__tests__/e2e/api-keys/list-api-keys.spec.ts
  packages/playground-web/__tests__/e2e/api-keys/mcp-verify.spec.ts
  packages/playground-web/__tests__/e2e/api-keys/security.spec.ts
  packages/playground-web/__tests__/e2e/explore-landing-responsive.spec.ts
  packages/playground-web/__tests__/e2e/fixtures/auth.ts
  packages/playground-web/__tests__/e2e/preview.spec.ts
  packages/playground-web/package.json
  packages/playground-web/playwright.config.ts
Due: eslint --fix, prettier --write

chore: tighten CI failure intake auto-fix policy
  .github/workflows/auto-fix-pr.yml
  scripts/auto-fix-pr.sh
Due: prettier --write

Codex/docs cleanup pass2 (#86)
  packages/playground-web/content/blog/ja/ai-ui-consistency-problem.mdx
  packages/playground-web/content/blog/ja/cursor-ai-design-system.mdx
  packages/playground-web/content/blog/ja/design-system-roi.mdx
  packages/playground-web/content/blog/ja/indie-hacker-ui-stack.mdx
  packages/playground-web/content/blog/ja/tailwind-design-tokens.mdx
  packages/playground-web/content/blog/ko/ai-ui-consistency-problem.mdx
  packages/playground-web/content/blog/ko/cursor-ai-design-system.mdx
  packages/playground-web/content/blog/ko/design-system-roi.mdx
  packages/playground-web/content/blog/ko/indie-hacker-ui-stack.mdx
  packages/playground-web/content/blog/ko/tailwind-design-tokens.mdx
  packages/playground-web/content/docs/ja/guides/design-tokens.mdx
  packages/playground-web/content/docs/ja/guides/faq.mdx
  packages/playground-web/content/docs/ja/guides/getting-started.mdx
  packages/playground-web/content/docs/ja/guides/mcp-integration.mdx
  packages/playground-web/content/docs/ja/guides/theming.mdx
  packages/playground-web/content/docs/ko/guides/design-tokens.mdx
  packages/playground-web/content/docs/ko/guides/faq.mdx
  packages/playground-web/content/docs/ko/guides/getting-started.mdx
  packages/playground-web/content/docs/ko/guides/mcp-integration.mdx
  packages/playground-web/content/docs/ko/guides/theming.mdx
Due: none

fix(ci): build mcp-server before e2e
  .github/workflows/e2e-tests.yml
Due: prettier --write

feat(analytics): add template_view and free_trial_started events
  packages/playground-web/components/explore/TemplateGallery.tsx
  packages/playground-web/components/modals/FreeTrialModal.tsx
  packages/playground-web/lib/analytics.ts
Due: eslint --fix, prettier --write

feat(analytics): add blog_cta_click event for blog→landing funnel
  packages/playground-web/components/blog/BlogPostPage.tsx
  packages/playground-web/components/shared/InlineCTA.tsx
  packages/playground-web/lib/analytics.ts
Due: eslint --fix, prettier --write

blog: add 5 blog posts (2026-03-09)
  packages/playground-web/content/blog/en/claude-code-vs-cursor-design-system.mdx
  packages/playground-web/content/blog/en/design-system-mistakes.mdx
  packages/playground-web/content/blog/en/mcp-explained-for-developers.mdx
  packages/playground-web/content/blog/en/oklch-colors-explained.mdx
  packages/playground-web/content/blog/en/react-component-library-ai.mdx
  packages/playground-web/content/blog/ja/claude-code-vs-cursor-design-system.mdx
  packages/playground-web/content/blog/ja/design-system-mistakes.mdx
  packages/playground-web/content/blog/ja/mcp-explained-for-developers.mdx
  packages/playground-web/content/blog/ja/oklch-colors-explained.mdx
  packages/playground-web/content/blog/ja/react-component-library-ai.mdx
  packages/playground-web/content/blog/ko/claude-code-vs-cursor-design-system.mdx
  packages/playground-web/content/blog/ko/design-system-mistakes.mdx
  packages/playground-web/content/blog/ko/mcp-explained-for-developers.mdx
  packages/playground-web/content/blog/ko/oklch-colors-explained.mdx
  packages/playground-web/content/blog/ko/react-component-library-ai.mdx
Due: none

fix(ci): build mcp-server before e2e (#87)
  .github/workflows/e2e-tests.yml
Due: prettier --write

fix: redirect /explore to landing page
  packages/playground-web/next.config.ts
Due: eslint --fix, prettier --write

fix: wrap TemplateGallery in Suspense for useSearchParams
  packages/playground-web/components/landing/LandingPage.tsx
Due: eslint --fix, prettier --write

blog: add 5 blog posts (2026-03-11)
  packages/playground-web/content/blog/en/component-variants-pattern.mdx
  packages/playground-web/content/blog/en/design-tokens-vs-css-variables.mdx
  packages/playground-web/content/blog/en/figma-to-code-with-ai.mdx
  packages/playground-web/content/blog/en/responsive-typography-tokens.mdx
  packages/playground-web/content/blog/en/semantic-color-naming.mdx
  packages/playground-web/content/blog/ja/component-variants-pattern.mdx
  packages/playground-web/content/blog/ja/design-tokens-vs-css-variables.mdx
  packages/playground-web/content/blog/ja/figma-to-code-with-ai.mdx
  packages/playground-web/content/blog/ja/responsive-typography-tokens.mdx
  packages/playground-web/content/blog/ja/semantic-color-naming.mdx
  packages/playground-web/content/blog/ko/component-variants-pattern.mdx
  packages/playground-web/content/blog/ko/design-tokens-vs-css-variables.mdx
  packages/playground-web/content/blog/ko/figma-to-code-with-ai.mdx
  packages/playground-web/content/blog/ko/responsive-typography-tokens.mdx
  packages/playground-web/content/blog/ko/semantic-color-naming.mdx
Due: none

fix(playground-web): restore checkout returns and free trial test
  packages/playground-web/__tests__/integration/free-trial-modal.test.tsx
  packages/playground-web/__tests__/lib/paddle-urls.test.ts
  packages/playground-web/app/explore/template/[id]/page.tsx
  packages/playground-web/components/explore/SelectionTopBar.tsx
  packages/playground-web/components/explore/TemplateModal.tsx
  packages/playground-web/components/pricing/PricingPage.tsx
  packages/playground-web/hooks/usePaddle.ts
  packages/playground-web/lib/paddle/urls.ts
Due: eslint --fix, prettier --write

chore(playground-web): split smoke and full e2e runs
  packages/playground-web/__tests__/e2e/README.md
  packages/playground-web/__tests__/e2e/TESTING.md
  packages/playground-web/__tests__/e2e/auth/github-oauth.spec.ts
  packages/playground-web/__tests__/e2e/auth/google-oauth.spec.ts
  packages/playground-web/package.json
Due: eslint --fix, prettier --write

fix(mcp-server): harden init bootstrap
  packages/mcp-server/README.md
  packages/mcp-server/__tests__/tools/init-bootstrap.test.ts
  packages/mcp-server/docs/01-quickstart.md
  packages/mcp-server/src/cli/init.ts
Due: eslint --fix, prettier --write

fix(mcp-server): restore zod runtime dependency
  packages/mcp-server/package.json
  pnpm-lock.yaml
  scripts/check-publish-integrity.mjs
Due: prettier --write

Release core v0.4.9, ui v0.6.6, mcp-server v0.6.23
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write
